/*
 * Theme
 */
@mixin bg-colors() {
	@include bg-color-variation($default__palette);
	@include bg-color-variation($inverse__palette);
	@include bg-color-variation($primary__palette);
	@include bg-color-variation($neutral__palette);
	@include bg-color-variation($state__palette);
	@include bg-color-variation($classic__palette);
}
/*
 * Output
 */
@if $o-bg-colors {
	@include bg-colors();
}
