/*
 * Imports
 */
@import
	"config";
/*
 * Export
 */
$vdp-gutter: 15px;
$vdp-breadcrumb-z: 200;
$vdp-carousel-z: 100;
$vdp-body-z: 200;
/*
 *
 */
.vdp {
    font-family: "Avenir", sans-serif;
    padding-bottom: 120px;
    color: #25334d;
    background-color: #f5f5f5;
    .strong {
        font-weight: 700;
    }
    .btn-rounded {
        line-height: 1;
        border-radius: 12px;
    }
    .panel {
        margin-bottom: 1px;
        border-radius: 0;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }
}
/*
 * Vdp Breadcrumb
 */
.vdp-breadcrumb {
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    .container,
    .breadcrumb {
        background-color: white;
    }
    .container {
        background-clip: content-box;
    }
    .breadcrumb {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/*
 * Vdp Carousel
 */
$transition: 0.5s;
.vdp-carousel-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #333;

    backface-visibility: hidden;
	&:after,
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 400px;
		z-index: 250;
		user-select: none;
		transition-timing-function: ease-in-out;
		transition-duration: $transition;
		transition-property: width, background !important;
	}
	$opacity: 0.4;
	&:before {
		left: 0;
		background: linear-gradient(to right, rgba(0,0,0,$opacity), rgba(0,0,0,0));
	}
	&:after {
		right: 0;
		background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,$opacity));
	}
}
.js-gallery-active {
	$opacity: 0.8;
	&:after,
	&:before {
		width: 600px;
	}
	&:before {
		background: linear-gradient(to right, rgba(0,0,0,$opacity), rgba(0,0,0,0));
	}
	&:after {
		background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,$opacity));
	}
}
.js-vdp-carousel-wrapper {
    //	transition: transform 0.25s cubic-bezier(0.6, 0, 0.2, 1);
}
.vdp-carousel-controls {
    position: relative;
    z-index: 500;

    backface-visibility: hidden;
}
.vdp-carousel-controls-navbar {
    position: absolute;
    top: 0;
    bottom: 0;

    backface-visibility: hidden;
    .nav > li > a {
        color: white;
        background-color: transparent !important;
    }
}
.vdp-carousel-controls-slide {
    display: none;

    backface-visibility: hidden;
    @media (min-width: 992px) {
        display: initial;
    }
    .control {
        $height: 3em;
        position: absolute;
        top: 200px;
        left: 15px;
        display: flex;
        align-items: center;
        height: $height;
        margin-top: negative($height / 2);
        color: white;
    }
    .control-right {
        right: 15px;
        left: auto;
    }
}
.vdp-carousel {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    height: 320px;
    background-color: #333;

    backface-visibility: hidden;
    //	transition: transform 0.25s cubic-bezier(0.6, 0, 0.2, 1);
    //	cursor: -moz-grab;
    //	cursor: grab;
    //	cursor: -webkit-grab;
    //	&:active {
    //		cursor: -moz-grabbing;
    //		cursor: grabbing;
    //		cursor: -webkit-grabbing;
    //	}
    @media (min-width: 992px) {
        height: 400px;
    }
}
.vdp-carousel-item {
    display: inline-flex;
    flex-direction: row;
    width: auto;
    height: 100%;
    @media (min-width: 992px) {
        flex-direction: column;
    }
}
.vdp-carousel-item {
	user-select: none;
	// 	Demo - Start
	//	.vdp-carousel-image {
	//		opacity: 0.35;
	//	}
	//	@media (min-width: 992px) {
	//		&:nth-child(even) {
	//			.vdp-carousel-image:nth-child(even) {
	//				opacity: 0.2;
	//			}
	//		}
	//		&:nth-child(odd) {
	//			.vdp-carousel-image:nth-child(odd) {
	//				opacity: 0.2;
	//			}
	//		}
	//	}
	//	@media (max-width: 991px) {
	//		&:nth-child(odd):not(:first-child),
	//		&:nth-child(even) {
	//			.vdp-carousel-image:nth-child(odd) {
	//				opacity: 0.2;
	//			}
	//		}
	//	}
	//	Demo - End
}
.vdp-carousel-image {
	user-select: none;
    height: 100%;
    @media (min-width: 992px) {
        height: 50%;
    }
}
.vdp-carousel-item.hero {
    .vdp-carousel-image {
        height: 100%;
    }
}
/*
 * Vdp Carousel Active
 */
$test-transition: true;
.js-gallery-init {
    backface-visibility: hidden;
	@if $test-transition {
		.js-vdp-carousel-image {
			transform: scale(1,1);
			transition-timing-function: ease-in-out;
			transition-duration: $transition;
			transition-property: z-index, opacity, transform !important;
			//	transition-property:opacity, transform, height, width !important;
		}
	}
}
$vdp-gutter: 1em;
.js-gallery-active {
	.vdp-carousel {
		transition-timing-function: ease-in-out;
		transition-duration: $transition;
		transition-property: transform !important;
	}
	.vdp-carousel-item {
		flex-direction: row;
		align-items: center;
	}
	.js-vdp-carousel-image {
		height: 50% !important;
		margin-right: $vdp-gutter;
		margin-left: $vdp-gutter;
		opacity: 0.15 !important;
	}
	.gallery-active {
		z-index: 2000;
		transform: scale(2,2);
		//	height: 100% !important;
		opacity: 1 !important;
	}
}
/*
 * Vdp Pricing Notifications
 */
.vdp-sidebar-heading {
    position: relative;
    z-index: 100;
    top: 1px;
    .nav {
        position: absolute;
        top: -43px;
        right: 0;
        > li:last-child > a {
            margin-right: 0;
        }
    }
}
.vdp-sidebar-notifications-pricedrop {
    $height: 250%;
    position: relative;
    min-width: 170px;
    transition: transform 0.25s cubic-bezier(0.6, 0, 0.2, 1);
    transform: translate3d(0, negative($height), 0);
    //	transition: transform 0.25s ease-in-out;

    backface-visibility: hidden;
    &.down {
        transform: translate3d(0, 0, 0);
    }
    > a {
        font-weight: 600;
        color: #c93131;
        background-color: white;
    }
    > div {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: $height;
        margin-right: 2px;
        padding: 10px 15px;
        color: white;
        background-color: #c93131;
        .btn {
            color: white;
            border-color: currentColor;
        }
    }
}
.vdp-sidebar-notifications-yousave {
    > a {
        font-weight: 600;
        color: white;
        background-color: #fa6900;
    }
}
.vdp-sidebar-body {
    position: relative;
    z-index: 300;
    background-color: white;

    backface-visibility: hidden;
}
/*
 * Vdp Price
 */
.vdp-price {
    position: relative;
}
.vdp-price-price {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    position: absolute;
    right: 0;
    bottom: -10px; // size of margin
    > sup {
        font-size: 0.5em;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/*
 * Vdp Calculate Payments
 */
.vdp-calculate-payments {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
/*
 * Vdp Pricing Details
 */
.vdp-pricing-details {
    margin-bottom: 10px;
    th,
    td {
        padding: 2px 0 !important;
        border: 0 !important;
    }
}
/*
 * Vdp Pricing Details Button
 */
.vdp-pricing-buttons {
    margin-bottom: 10px;
}
/*
 * Vdp Body
 */
.vdp-body {
	position: relative;
	z-index: 1000;
    margin-top: 30px;
}
/*
 * Vdp Vehicle Title
 */
.vdp-vehicle-title {
}
/*
 * Vdp Vehicle Ratings
 */
.vdp-vehicle-ratings {
    .active {
        color: #fab000;
    }
    .inactive {
        color: #dedede;
    }
}
/*
 * Vdp Vehicle Reviews
 */
.vdp-vehicle-reviews {
}
/*
 * Vdp Vehicle Confirm Availability
 */
.vdp-vehicle-confirmavailability {
}
/*
 * Vdp Vehicle Features
 */
.vdp-vehicle-features {
}
.vdp-feature {
}
.vdp-feature-icon {
    vertical-align: middle;
}
.vdp-feature-body {
    vertical-align: middle;
}
.vdp-feature-body-small {
    font-size: 0.65em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.vdp-feature-body-title {
    margin: 0;
}
/*
 * Vdp Vehicle Description
 */
.vdp-vehicle-description {
    margin-bottom: 10px;
}
/*
 * Vdp Eligible Benefits
 */
.vdp-eligible-benefits {
}
/*
 * Vdp Tabs
 */
.vdp-tabs-wrapper {
    padding: 0;
}
.vdp-tabs {
    margin-top: -1px;
    > li.active > a {
        border-top-color: transparent !important;
    }
    > li.active:first-child > a {
        border-left-color: transparent !important;
    }
    > li.active:last-child > a {
        border-right-color: transparent !important;
    }
    > li > a {
        border-radius: 0 !important;
        background-color: #f5f5f5;
    }
    > li:first-child > a {
        margin-left: -1px;
    }
    > li:last-child > a {
        margin-right: -1px;
    }
}
.vdp-tab-content-wrapper {
    overflow-y: auto;
    height: 240px;
    padding: 0;
}
.vdp-tab-content {
    padding: 15px;
}
/*
 * Vdp Input Group
 */
.vdp-input-group {
    margin-bottom: 10px;
    > .form-control,
    > .input-group-addon,
    > .input-group-btn > .btn {
        height: 40px;
        padding: 8px 16px;
        //	font-size: 18px;
    }
}
/*
 * Vdp Disclaimer
 */
.vdp-disclaimer {
    margin-bottom: 0;
}
/*
 * Guides
 */
body,
main {
    &:before,
    &:after {
        content: "";
        position: fixed;
        display: block;
        width: 1px;
        height: 100%;
        z-index: 2000;
        top: 0;
        background-color: red;
    }
}
body {
    &:before {
        left: 43%;
    }
    &:after {
        left: 50%;
    }
}
main {
    &:before {
        left: 57%;
    }
    &:after { display: none;}
}
