/*
 * Imports
 */
@import
	"config",
	"extend";
/*
 * Export
 */
$vdp-gutter: 15px;
$vdp-breadcrumb-z: 200;
$vdp-carousel-z: 100;
$vdp-body-z: 200;
/*
 * From Rothbard Chevy
 */
.desktop .manuLogo,
.desktop .headerBtns {
    display: none;
}
.desktop .tel3,
.desktop .tel4,
.desktop .dealerName,
.mobile .dealerName {
    display: none;
}
.desktop .tel li label {
    margin-bottom: 0;
}
.dealerName h2 {
}
.socialMedia .fa {
    font-size: 1.6em;
}
.desktop .dealerLogo img {
    height: 55px;
}
/* mobile */
.mobile .dealerLogo {
}

@media (max-width:991px) {
    .desktop .dealerLogo img {
        height: 40px;
    }
    .desktop .manuLogo img {
        width: 80px;
    }
}

@media (max-width:767px) {
    .mobile .manuLogo img {
        height: 45px;
        margin-right: 10px;
    }
    .mobile .dealerLogo img {
        height: 30px;
        margin-top: 8px;
    }
}

@media (max-width:370px) {
    .mobile .manuLogo {
        display: none;
    }
}
/*------------------------------------*
	$NAV_RESET
\*------------------------------------*/
.navbar {
    min-height: 1em;
}/*~14~*/
.navbar-static-top {
    border-width: 0;
}
.navbar-nav li .dropdown-menu {
    overflow: hidden;
    min-width: 120px;
    padding: 0;
}
.navbar-default .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width:992px) {
    .navbar-nav li:last-child .dropdown-menu {
        right: 0;
        left: auto;
        text-align: right;
    }
}

/*------------------------------------*
	$NAV_DESKTOP
\*------------------------------------*/
@media (min-width:992px) {
    /*	SM,MD,LG			homepage link			*/
    .navbar.navbar-default #homePage {
        border-radius: 0;
    }
}
/*	ALL		bg			navbar					*/
#nav {
    background: #f3f3f3;
}
.navbar.navbar-default {
    margin-bottom: 0;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    background: #f3f3f3;
}
/*	ALL		border		navbar-variation		*/
.navbar-static-top {
    border-width: 0;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-width: 0 0 1px;
    border-radius: 0;
}
/*	ALL		color		navbar					*/
.navbar-default .navbar-nav li a {
    //	text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
}
/*	ALL		border		navbar caret			*/
.navbar-default .navbar-nav .dropdown a .caret {
    display: none;
}
/*	ALL		:hover		navbar li a				*/
.navbar-default .navbar-nav .open a,
.navbar-default .navbar-nav .open a:hover,
.navbar-default .navbar-nav .open a:focus {
    color: #fff;
    border-color: transparent;
    background-color: #888;
}
/*	ALL		various		dropdown menu			*/
.navbar-default .dropdown-menu {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 0;/*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);*/
    background-color: #888;
}
/*	ALL		color		dropdown menu li a		*/
.navbar-default .dropdown-menu li a {
    line-height: 1.6em;
    text-transform: none;
    color: #fff;
    border-right: none;
    border-bottom: 1px solid #333;
}
.navbar-default .dropdown-menu li:last-child a {
    border-bottom: none;
}
/*	ALL		:hover		dropdown menu li a		*/
.navbar-default .open .dropdown-menu li a:hover,
.navbar-default .open .dropdown-menu li a:focus {
    text-decoration: none;
    color: #fff;
    background-color: #053561;
}
/*	ALL		:active		dropdown menu li a		*/
.navbar-default .open .dropdown-menu li a:active {
    text-decoration: none;
    color: #fff;
    background-color: #666;
}

@media (min-width: 992px) {
    #nav {
        font-family: "proxima_nova_rgbold", Arial, Helvetica, sans-serif;
    }
}


/*------------------------------------*
	$NAV_MOBILE
\*------------------------------------*/
@media (max-width:991px) {
    /*	XS		bg			navbar					*/
    .navbar.navbar-default {
        border-top: transparent;
        border-bottom: transparent;
        border-radius: 0;
        background: #f3f3f3;
    }
}
/*------------------------------------*
	$NAV_MOBILE_BUTTON
\*------------------------------------*/
/*	XS		icon-size	toggle button			*/
.navbar-default .navbar-toggle {
    font-size: 1.33em;
}
/*	XS		bg			toggle button			*/
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    margin: 0;
    padding: 0.714em 1.2em;
    color: #fff;
    border-color: transparent;
    border-radius: 0;
    background-color: #fa6900;
}
/*	XS		:hover		toggle button			*/
.navbar-default .navbar-toggle:hover {
    color: #fff;
    border-color: transparent;
    background-color: #f2761c;
}
/*	XS		:active		toggle button			*/
.navbar-default .navbar-toggle:active {
    border-top-color: #000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.225) inset;
}
.static-to-nav {
    top: 1px;
    left: 0;
	z-index: 2000; // TEMP
}
.navbar-static-top {
	//	z-index: 2010;
}
.static-to-nav .btn {
    line-height: 49px !important;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
}
/*
 * Base
 */
.vdp {
    font-family: "Avenir", sans-serif;
    padding-bottom: 120px;
    color: #25334d;
    background-color: #f5f5f5;
    .strong {
        font-weight: 700;
    }
    .btn {
        white-space: nowrap;
    }
    .btn-text {
        cursor: default !important;
        &,
        &:hover,
        &:focus,
        &:active {
            //	border-color: #ccc !important;
            border-color: transparent !important;
        }
        &:hover,
        &:focus,
        &:active {
            color: #777 !important;
            background-color: transparent !important;
            box-shadow: none !important;
        }
    }
    .btn-rounded {
        line-height: 1;
        border-radius: 12px;
    }
    .panel {
        margin-bottom: 1px;
        border-radius: 0;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }
}
/*
 * Vdp Breadcrumb
 */
.vdp-breadcrumb {
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    .container,
    .breadcrumb {
        background-color: white;
    }
    .container {
        padding-right: 0;
    }
    .breadcrumb {
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .name-this-later {
        float: none !important;
        @media (max-width: 767px) {
			margin-bottom: -32px;
		}
        @media (min-width: 768px) {
            float: right !important;
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
        @media (min-width: 768px) {
            display: block;
        }
    }
}
/*
 * Vdp Carousel
 */
$gallery-media: 1200px;
$transition: 0.25s;
.vdp-carousel-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #333;
    //	background-image: url("http://ip.dlron.us/assets/inventory/photos/1781/3gcuktec5gg217436-8.jpg");
    //	background-repeat: no-repeat;
    //	background-size: contain;
    //	background-position: left top;

    backface-visibility: hidden;
    @media(min-width: $gallery-media) {
        $opacity: 0.4;
        &:after,
        &:before {
            position: absolute;
            z-index: 250;
            top: 0;
            display: none;
            width: 200px;
            height: 100%;
            content: "";
            user-select: none;
            transition-timing-function: ease-in-out;
            transition-duration: $transition;
            transition-property: width, background !important;

            backface-visibility: hidden;
        }
        &:before {
            left: 0;
            background: linear-gradient(to right, rgba(0,0,0,$opacity), rgba(0,0,0,0));
        }
        &:after {
            right: 0;
            background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,$opacity));
        }
    }
}
.js-gallery-fade {
    $opacity: 0.8;
    &:after,
    &:before {
        width: 600px;
    }
    &:before {
        background: linear-gradient(to right, rgba(0,0,0,$opacity), rgba(0,0,0,0));
    }
    &:after {
        background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,$opacity));
    }
}
.vdp-carousel-controls {
    position: relative;
    z-index: 500;

    backface-visibility: hidden;
}
.vdp-carousel-controls-navbar {
    position: absolute;
    top: 0;
    bottom: 0;

    backface-visibility: hidden;
    .nav > li > a {
        color: white;
        background-color: transparent !important;
    }
}
.vdp-carousel-controls-slide {
    display: none;

    backface-visibility: hidden;
    @media (min-width: $gallery-media) {
        display: initial;
    }
    .control {
        $height: 3em;
        position: absolute;
        top: 200px;
        left: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $height;
        height: $height;
        margin-top: negative($height / 2);
        color: white;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.35);
    }
    .control-right {
        right: 15px;
        left: auto;
    }
}
.vdp-carousel {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
	height: 220px;
    //	transition: transform 0.25s cubic-bezier(0.6, 0, 0.2, 1);
    cursor: pointer;
    //	cursor:    -moz-grab;
    //	cursor:         grab;
    //	cursor: -webkit-grab;
    //	background-color: #333;

    backface-visibility: hidden;
    //	&:active {
    //	    cursor:    -moz-grabbing;
    //	    cursor:         grabbing;
    //	    cursor: -webkit-grabbing;
    //	}
    @media (min-width: $gallery-media) {
        overflow-x: hidden;
        height: 400px;
    }
}
.vdp-carousel-item {
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: row;
    width: auto;
    height: 100%;
    @media (min-width: $gallery-media) {
        flex-direction: column;
    }
}
.vdp-carousel-image {
    height: 100%;
    user-select: none;
    @media (min-width: $gallery-media) {
		&:hover {
			opacity: 0.85 !important;
		}
        height: 50%;
    }
}
.vdp-carousel-item.hero {
    .vdp-carousel-image {
        height: 100%;
    }
}
//	.hero--bg {
//		@media(min-width: $gallery-media) {
//			width: calc((100% - 940px) / 2);
//		}
//		@media(min-width: 1200px) {
//			width: calc((100% - 1140px) / 2);
//		}
//		.vdp-carousel-image {
//			height: 100%!important;
//		}
//	}
/*
 * Vdp Carousel Active
 */
$test-transition: true;
@media (min-width: $gallery-media) {
    $vdp-gutter: 1em;
    .js-gallery-init {
        transition-timing-function: ease-in-out;
        transition-duration: $transition;
        transition-property: opacity !important;

        backface-visibility: hidden;
        .vdp-carousel {
            transition-timing-function: ease-in-out;
            transition-duration: $transition;
            transition-property: transform !important;

            backface-visibility: hidden;
            &,
            &:hover {
                cursor: initial;
            }
        }
        .vdp-carousel-image {
            transition-timing-function: ease-in-out;
            transition-duration: $transition;
            transition-property: transform, z-index, opacity !important;
            transform: scale(1,1);

            backface-visibility: hidden;
			@media (min-width: $gallery-media) {
				&:hover {
					cursor: pointer;
				}
			}
        }
    }
    .js-gallery-fade {
        .vdp-carousel-image {
            opacity: 0 !important;
        }
        .clone {
            position: absolute;
            z-index: 4000;
            top: 0;
            left: 0;
            margin: 0 !important;
            transition-timing-function: ease-in-out;
            transition-duration: $transition;
            transition-property: z-index, opacity, top, transform !important;
            opacity: 1 !important;
            &.vdp-carousel-hero {
                height: 100% !important;
            }
        }
    }
    .js-gallery-build {
        .vdp-carousel-item {
            flex-direction: row;
            align-items: center;
        }
        .vdp-carousel-image {
            height: 50% !important;
            margin-right: $vdp-gutter;
            margin-left: $vdp-gutter;
        }
        .gallery-active {
            z-index: 2000;
            transform: scale(2,2);
        }
    }
    .js-gallery-active {
        .vdp-carousel-image {
            opacity: 0.25 !important;
            &:hover {
                opacity: 0.35 !important;
            }
        }
        .gallery-active {
            &,
            &:hover {
                opacity: 1 !important;
            }
        }
    }
}
/*
 * Vdp Pricing Notifications
 */
.vdp-sidebar-heading {
    position: relative;
    z-index: 100;
    top: 1px;
    .nav {
        position: absolute;
        top: -43px;
        right: -1px;
        a {
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
        > li:last-child > a {
            margin-right: 0;
        }
    }
}
.vdp-sidebar-notifications-pricedrop {
    $height: 250%;
    position: relative;
    transition: transform 0.25s cubic-bezier(0.6, 0, 0.2, 1);
    transform: translate3d(0, negative($height), 0);

    backface-visibility: hidden;
    //	transition: transform 0.25s ease-in-out;
    @media (min-width: 768) {
        min-width: 170px;
    }
    &.down {
        transform: translate3d(0, 0, 0);
    }
    > a {
        font-weight: 600;
        color: #c93131;
        background-color: white;
    }
    > div {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: $height;
        margin-right: 2px;
        padding: 10px 15px;
        color: white;
        background-color: #c93131;
        .btn {
            color: white;
            border-color: currentColor;
        }
    }
}
.vdp-sidebar-notifications-yousave {
    > a {
        &,
        &:hover,
        &:focus,
        &:active {
			cursor: default !important;
            font-weight: 600;
            color: #43ab3e;
            background-color: white !important;
        }
    }
}
.vdp-sidebar-body {
    position: relative;
    z-index: 300;
    background-color: white;

    backface-visibility: hidden;
	@media (min-width: 992px) {
		padding-top: 30px;
	}
}
/*
 * Vdp Price
 */
.vdp-price {
    position: relative;
}
.vdp-price-label {}
.vdp-price-price {
	@media (min-width: 992px) {
		font-size: 3em;
		font-weight: 700;
		line-height: 1;
		position: absolute;
		right: 0;
		bottom: -10px; // size of margin
		> sup {
			font-size: 0.5em;
			line-height: 1;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
/*
 * Vdp Calculate Payments
 */
.vdp-calculate-payments {
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
/*
 * Vdp Get Sale Price
 */
.vdp-getsaleprice {
    .form-control {
        border-color: #fa6900;
        &::-webkit-input-placeholder {
            font-weight: 700;
            color: #fa6900;
        }
        &:-moz-placeholder {
            font-weight: 700;
            color: #fa6900;
        }
        &::-moz-placeholder {
            font-weight: 700;
            color: #fa6900;
        }
        &:-ms-input-placeholder {
            font-weight: 700;
            color: #fa6900;
        }
    }
    .btn-primary {
        border-color: #fa6900;
        background-color: #fa6900;
        &:hover,
        &:focus,
        &:active,
        &.active {
            border-color: shade(#fa6900, 10%);
            background-color: shade(#fa6900, 10%);
        }
    }
}
/*
 * Vdp Pricing Details
 */
.vdp-pricing-details {
    margin-bottom: 10px;
    th,
    td {
        padding: 2px 0 !important;
        border: 0 !important;
    }
}
/*
 * Vdp Pricing Details Button
 */
.vdp-pricing-buttons {
    margin-bottom: 10px;
}
/*
 * Vdp Body
 */
.vdp-body {
    position: relative;
    z-index: 1040;
    margin-top: 30px;
}
/*
 * Vdp Vehicle Title
 */
.vdp-vehicle-title {
}
/*
 * Vdp Vehicle Ratings
 */
.vdp-vehicle-ratings {
    .active {
        color: #fab000;
    }
    .inactive {
        color: #dedede;
    }
}
/*
 * Vdp Vehicle Reviews
 */
.vdp-vehicle-reviews {
}
/*
 * Vdp Vehicle Confirm Availability
 */
.vdp-vehicle-confirmavailability {
}
/*
 * Vdp Vehicle Features
 */
.vdp-vehicle-features {
}
.vdp-feature {
}
.vdp-feature-icon {
    vertical-align: middle;
}
.vdp-feature-body {
    vertical-align: middle;
}
.vdp-feature-body-small {
    font-size: 0.65em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
.vdp-feature-body-title {
    margin: 0;
}
/*
 * Vdp Vehicle Description
 */
.vdp-vehicle-description {
    margin-bottom: 10px;
}
/*
 * Vdp Eligible Benefits
 */
.vdp-eligible-benefits {
}
/*
 * Vdp Tabs
 */
.vdp-tabs-wrapper {
    padding: 0;
}
.vdp-tabs {
    margin-top: -1px;
    > li.active > a {
        border-top-color: transparent !important;
    }
    > li.active:first-child > a {
        border-left-color: transparent !important;
    }
    > li.active:last-child > a {
        border-right-color: transparent !important;
    }
    > li > a {
        border-radius: 0 !important;
        background-color: #f5f5f5;
    }
    > li:first-child > a {
        margin-left: -1px;
    }
    > li:last-child > a {
        margin-right: -1px;
    }
}
.vdp-tab-content-wrapper {
    overflow-y: auto;
    padding: 0;
	height: 240px;
	@media (min-width: 992px) {
		height: 400px;
	}
}
.vdp-tab-content {
    padding: 15px;
}
/*
 * Vdp Input Group
 */
.vdp-input-group {
    margin-bottom: 10px;
    > .form-control,
    > .input-group-addon,
    > .input-group-btn > .btn {
        height: 40px;
        padding: 8px 16px;
        //	font-size: 18px;
    }
}
/*
 * Vdp Disclaimer
 */
.vdp-disclaimer {
    margin-bottom: 0;
}
/*
 * Guides
 */
$useguides: false;
@if $useguides {
    body,
    main {
        &:before,
        &:after {
            position: fixed;
            z-index: 2000;
            top: 0;
            display: block;
            width: 1px;
            height: 100%;
            content: "";
            background-color: red;
        }
    }
    body {
        &:before {
            left: 684px;
        }
        &:after {
            left: 50%;
        }
    }
    main {
        &:before {
            left: 1216px;
        }
        &:after {
            display: none;
        }
    }
}
/*
 * Vdp Modal REVISIT
 */
//	.vdp-modal-header {
//		position: relative;
//		.close {
//			position: absolute;
//			top: 0;
//			right: 0;
//		}
//	}
/*
 * Vdp Footer
 */
.vdp-footer .stuff {
	li:not(:last-child) {
		border-right: 1px solid #ccc;
		line-height: 1;
	}
}
