.control-label-lg,
.form-control-lg {
    padding: $form--lg__padding;
}

.control-label-md,
.form-control-md {
    padding: $form--md__padding;
}

.control-label-sm,
.form-control-sm {
    padding: $form--sm__padding;
}

.control-label-xs,
.form-control-xs {
    padding: $form--xs__padding;
}
