.btn-group-justified {
    display: table;

    width: 100%;

    table-layout: fixed;
    border-collapse: separate;

    > .btn,
    > .btn-group {
        display: table-cell;
        float: none;

        width: 1%;
    }

    > .btn-group .btn {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    > .btn-group .dropdown-menu {
        left: auto;
    }

    //
    //  Fix one pixel offset ( this is what i get for using ems )
    > .btn-group {
        border-bottom: $one__true__pixel solid transparent;
    }

    &.lg > .btn-group,
    &.md > .btn-group {
        border-bottom: 0 none;
    }
}
