.btn-toolbar {
    @include clearfix;

    .btn,
    .btn-group,
    .input-group {
        float: left;
    }

    > .btn,
    > .btn-group,
    > .input-group {
        margin-right: $five__true__pixels
    }

    > .btn-group {
        margin-bottom: rhythm(.5);
    }
}
