.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;
    overflow: hidden;

    outline: 0;

    -webkit-overflow-scrolling: touch;

    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3 ease-out;

    }

    &.in .modal-dialog {
        transform: translate(0, 0);
    }
}

.modal-header,
.modal-body,
.modal-footer {

    &:only-child {
        border: $modal__radius;
    }

    &:first-child {
        border-top-right-radius: $modal__radius;
        border-top-left-radius: $modal__radius;
    }

    &:last-child {
        border-bottom-right-radius: $modal__radius;
        border-bottom-left-radius: $modal__radius;
    }
}

.modal-body,
.modal-footer {

    &:first-child {
        border-bottom: $one__true__pixel solid $modal__border;

        + .modal-header {
            margin-top: $one__true__pixel * -1;
            margin-bottom: $one__true__pixel * -1;
        }
    }

    &:last-child {
        border-top: $one__true__pixel solid $modal__border;
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
