.toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.toolbar-item {
    //
}

.toolbar-md {
    padding-top: ($global__y * $base__font-ratio);
    padding-bottom: ($global__y * $base__font-ratio);
}
