[data-size='h1'] {
    font-size: $h1__font-size;
}

[data-size='h2'] {
    font-size: $h2__font-size;
}

[data-size='h3'] {
    font-size: $h3__font-size;
}

[data-size='h4'] {
    font-size: $h4__font-size;
}

[data-size='h5'] {
    font-size: $h5__font-size;
}

[data-size='h6'] {
    font-size: $h6__font-size;
}
