@mixin table-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {

        .table-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            background-color: $color;

            > thead > tr,
            > tbody > tr,
            > tfoot > tr {

                > td,
                > th {
                    border-color: shade($color, $table__contrast);
                }
            }

            &.table-bordered {
                border-color: shade($color, $table__contrast);

                > thead > tr,
                > tbody > tr,
                > tfoot > tr {

                    > td,
                    > th {
                        border-color: shade($color, $table__contrast);
                    }
                }
            }

            &.table-striped {

                > tbody > tr:nth-of-type(odd) {

                    > td,
                    > th, {
                        background-color: shade($color, $table__contrast);
                    }
                }
            }

            &.table-hover {

                > thead > tr:hover,
                > tbody > tr:hover,
                > tfoot > tr:hover {

                    > td,
                    > th {
                        background-color: shade($color, $table__contrast);
                    }
                }
            }
        }


        .table {

            > thead > tr,
            > tbody > tr,
            > tfoot > tr {

                > td.#{$class__name},
                > th.#{$class__name},
                &.#{$class__name} > td,
                &.#{$class__name} > th {
                    color: check-color($color, 80, inherit, $white);
                    border-color: $color;
                    background-color: $color;
                }
            }
        }

        .table-hover {

            > thead > tr,
            > tbody > tr,
            > tfoot > tr {

                > td.#{$class__name}:hover,
                > th.#{$class__name}:hover,
                &.#{$class__name}:hover > td,
                &:hover > .#{$class__name},
                &.#{$class__name}:hover > th {
                    color: check-color($color, 80, inherit, $white);
                    border-color: shade($color, $table__contrast);
                    background-color: shade($color, $table__contrast);
                }
            }
        }
    }
}
