@mixin well-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .well-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: transparent;
            background-color: $color;
        }
    }
}

