.input-group-btn {
    position: relative;

    white-space: nowrap;

    > .btn {
        position: relative;
    }

    > .btn + .btn {
        margin-left: $one__true__pixel * -1;
    }

    > .btn,
    > .dropdown-toggle {
        z-index: 4;
    }

    &:first-child {
        > .btn,
        > .btn-group {
            margin-right: $six__pixels * -1;
        }
    }

    &:last-child {
        > .btn,
        > .btn-group {
            z-index: 4;

            margin-left: $six__pixels * -1;
        }
    }
}
