@font-face {
    font-family: 'MerriweatherBlack';
    font-weight: normal;
    font-style: normal;

    src: url('../font/merriweather/Merriweather-Black.ttf') format('truetype');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: 'MerriweatherBold';
    font-weight: normal;
    font-style: normal;

    src: url('../font/merriweather/Merriweather-Bold.ttf') format('truetype');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: 'MerriweatherRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../font/merriweather/Merriweather-Regular.ttf') format('truetype');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: 'MerriweatherLight';
    font-weight: normal;
    font-style: normal;

    src: url('../font/merriweather/Merriweather-Light.ttf') format('truetype');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

