 @font-face {
    font-family: 'AvenirHeavy';
    font-weight: normal;
    font-style: normal;

    src: url('../font/avenir/AvenirHeavy-webfont.eot');
    src: url('../font/avenir/AvenirHeavy-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/avenir/AvenirHeavy-webfont.woff') format('woff'),
    url('../font/avenir/AvenirHeavy-webfont.ttf') format('truetype'),
    url('../font/avenir/AvenirHeavy-webfont.svg#AvenirHeavy') format('svg');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: 'AvenirMedium';
    font-weight: normal;
    font-style: normal;

    src: url('../font/avenir/avenirltstd-medium-webfont.eot');
    src: url('../font/avenir/avenirltstd-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/avenir/avenirltstd-medium-webfont.woff') format('woff'),
    url('../font/avenir/avenirltstd-medium-webfont.ttf') format('truetype'),
    url('../font/avenir/avenirltstd-medium-webfont.svg#AvenirMed') format('svg');
    -webkit-font-smoothing: subpixel-antialiased !important;
}

@font-face {
    font-family: 'AvenirRegular';
    font-weight: normal;
    font-style: normal;

    src: url('../font/avenir/avenirltstd-roman-webfont.eot');
    src: url('../font/avenir/avenirltstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/avenir/avenirltstd-roman-webfont.woff') format('woff'),
    url('../font/avenir/avenirltstd-roman-webfont.ttf') format('truetype'),
    url('../font/avenir/avenirltstd-roman-webfont.svg#AvenirRegular') format('svg');
    -webkit-font-smoothing: subpixel-antialiased !important;
}
