@font-face {
    font-family: "SourceCodePro";
    src: url('../font/sourcecodepro/SourceCodePro-Regular.eot');
    src: url('../font/sourcecodepro/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../font/sourcecodepro/SourceCodePro-Regular.woff') format('woff'),
         url('../font/sourcecodepro/SourceCodePro-Regular.ttf') format('truetype'),
         url('../font/sourcecodepro/SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
