//
//  Icon Font
$icon: (
    "FontAwesome": (
        (
            "name": "fontawesome-webfont",
            "formats": ("eot", "woff2", "woff", "ttf", "svg")
        ),
    )
);
//
//  Monospaced Font
$mono: (
    "SourceCodePro": (
        (
            "name": "SourceCodePro-Regular",
            "formats": ("eot", "woff2", "woff", "ttf", "svg"),
            "weight": "400"
        ), (
            "name": "SourceCodePro-Medium",
            "formats": ("eot", "woff", "ttf", "svg"),
            "weight": "500"
        ),
    )
);
//
//  Serif Font
$serif: (
    "Merriweather": (
        (
            "name": "Merriweather-Light",
            "formats": ("ttf"),
            "weight": "300"
        ), (
            "name": "Merriweather-LightItalic",
            "formats": ("ttf"),
            "weight": "300",
            "style": "italic"
        ), (
            "name": "Merriweather-Regular",
            "formats": ("ttf"),
            "weight": "400"
        ), (
            "name": "Merriweather-Italic",
            "formats": ("ttf"),
            "weight": "400",
            "style": "italic"
        ), (
            "name": "Merriweather-Bold",
            "formats": ("ttf"),
            "weight": "700"
        ), (
            "name": "Merriweather-BoldItalic",
            "formats": ("ttf"),
            "weight": "700",
            "style": "italic"
        ), (
            "name": "Merriweather-Black",
            "formats": ("ttf"),
            "weight": "900",
        ), (
            "name": "Merriweather-HeavyItalic",
            "formats": ("ttf"),
            "weight": "900",
            "style": "italic"
        ),
    )
);
//
//  Sans Font
$sans: (
    "Avenir": (
        (
            "name": "avenirltstd-roman-webfont",
            "formats": ("woff2", "woff", "ttf"),
            "weight": "400"
        ), (
            "name": "avenirltstd-medium-webfont",
            "formats": ("eot", "woff", "ttf", "svg"),
            "weight": "500"
        ), (
            "name": "avenirheavy-webfont",
            "formats": ("eot", "woff", "ttf", "svg"),
            "weight": "700"
        ),
    )
);
