///	White
///	@type Color
///	@group Colors
$white: #fff;

///	Black
///	@type Color
///	@group Colors
$black: #000;

///	Grayscale
///	@type Map
///	@group Colors
$grayscale:  (
	"01":  mix($black, $white, 10%),
	"02":  mix($black, $white, 20%),
	"03":  mix($black, $white, 30%),
	"04":  mix($black, $white, 40%),
	"05":  mix($black, $white, 50%),
	"06":  mix($black, $white, 60%),
	"07":  mix($black, $white, 70%),
	"08":  mix($black, $white, 80%),
	"09":  mix($black, $white, 90%),
) !default;

///	Default color
///	@type Color
///	@group Colors
$default-color:  #e4e4e4;

///	Primary color
///	@type Color
///	@group Colors
$primary-color:  #3662ad;

///	Accent color
///	@type Color
///	@group Colors
$accent-color:   #f36c0a;

///	Inverse color
///	@type Color
///	@group Colors
$inverse-color:  mix($primary-color, map-get($grayscale, 08), 20%);

///	State success
///	@type Color
///	@group Colors
$state-success:  #5cb85c !default;

///	State info
///	@type Color
///	@group Colors
$state-info:     #5bc0de !default;

///	State warning
///	@type Color
///	@group Colors
$state-warning:  #f0ad4e !default;

///	State danger
///	@type Color
///	@group Colors
$state-danger:   #d9534f !default;

///	Default Color Palette
///	@type Map
///	@group Colors
$default__palette: (
    'default':  $default__color,
) !default;

///	Inverse Color Palette
///	@type Map
///	@group Colors
$inverse__palette:  (
    'inverse': $inverse__color,
) !default;

///	Primary Color Palette
///	@type Map
///	@group Colors
$primary__palette: (
    'cta':   $accent__color,
    'main':  $primary__color,
) !default;

///	Neutral Color Palette
///	@type Map
///	@group Colors
$neutral__palette: (
    'alt1':  mix($primary__color, map-get($grayscale, 07), 50%),
    'alt2':  mix($primary__color, map-get($grayscale, 05), 45%),
    'alt3':  mix($primary__color, map-get($grayscale, 03), 40%),
) !default;

///	State Color Palette
///	@type Map
///	@group Colors
$state__palette: (
    'success':  $state--success,
    'info':     $state--info,
    'warning':  $state--warning,
    'danger':   $state--danger,
) !default;

///	Classic Color Palette
///	@type Map
///	@group Colors
$classic__palette: (
    'white':  $white,
    'black':  $black,
) !default;
