/*
 * 03 Base Output
 */
$o-reset:		  true;
/*
 * 04 Base Output
 */
$o-fonts:         true;
$o-typography:    true;
/*
 * 05 Object Output
 */
$o-alert:             false;
$o-blockquote:        false;
$o-box:               false;
$o-breadcrumb:        false;
$o-btn-group:         false;
$o-btn:               false;
$o-card:              false;
$o-carousel:          false;
$o-close:             false;
$o-collapse:          false;
$o-dropdown:          false;
$o-form:              true;
$o-grid:              false;
$o-img:               false;
$o-input-group:       false;
$o-label:             false;
$o-list-group:        false;
$o-list:              false;
$o-media:             false;
$o-modal:             false;
$o-navbar:            true;
$o-offcanvas:         false;
$o-pagination:        false;
$o-panel:             false;
$o-popover:           false;
$o-progress-bar:      false;
$o-responsive-embed:  false;
$o-table:             false;
$o-tag:               false;
$o-tooltip:           false;
$o-well:              false;
/*
 * 06 Utilities Output
 */
$o-bg-colors:       false;
$o-floats:          false;
$o-screen-readers:  false;
$o-spacers:         false;
$o-text-align:      false;
$o-text-colors:     false;
$o-text-transform:  false;
$o-text-weight:     false;
