///	Root Path
///	@type Length
///	@group Paths
$g-root:  "../";

///	Font Path
///	@type Length
///	@group Paths
$g-font:  $g-root + "font/";

///	Image Path
///	@type Length
///	@group Paths
$g-img:   $g-root + "img/";
