/*
 * Units
 */
$alert-c: $g-c;
$alert-r: $g-r;
$alert-x: $g-x;
$alert-y: $g-y;
/*
 * Colors
 */
$alert-border: transparent;
$alert-bg: $default__color;
/*
 * Base
 */
.alert {
	display: flex;
	justify-content: space-between;
	padding: $alert-y $alert-x;
	border: 1px solid $alert-border;
	border-radius: $alert-r;
	background-color: $alert-bg;

	.close {
		//	margin-bottom: negative($alert-y);
		padding: ($alert-x / 2);
	}
}
/*
 * Variations
 */
/*
 * Theme
 */
//	@include alert-color-variation($default__palette);
//	@include alert-color-variation($inverse__palette);
//	@include alert-color-variation($primary__palette);
//	@include alert-color-variation($neutral__palette);
//	@include alert-color-variation($state__palette);
//	@include alert-color-variation($classic__palette);
