/*
 * Var
 */
$breadcrumb-c: $g-c;
$breadcrumb-r: $g-r * 0;
$breadcrumb-x: $g-x;
$breadcrumb-y: $g-y;
/*
 * Colors
 */
$breadcrumb-border: transparent;
$breadcrumb-bg: $default__color;
/*
 * Base
 */
.breadcrumb {
    display: flex;
    align-items: baseline;
	border-radius: $breadcrumb-r;
    background-color: $breadcrumb-bg;
}
.breadcrumb-item {
    display: inline-flex;
    padding: $breadcrumb-y $breadcrumb-x;
    border: 1px solid $breadcrumb-border;
    &:after {
        position: relative;
        right: negative($breadcrumb-x);
        content: "/";
    }
	&:first-child {
		border-radius: $breadcrumb-r 0 0 $breadcrumb-r;
	}
    &.active {
        font-weight: 700;
        margin-bottom: -1px;
		&:after {
			display: none;
		}
    }
}
.breadcrumb-link {
    color: inherit;

    @include state--hover("inherit", $breadcrumb-bg, $breadcrumb-c);
    @include state--focus("inherit", $breadcrumb-bg, $breadcrumb-c);
    @include state--active("inherit", $breadcrumb-bg, ($breadcrumb-c * 2));
}
/*
 * Theme
 */
//	@include breadcrumb-color-variation($default__palette);
//	@include breadcrumb-color-variation($inverse__palette);
@include breadcrumb-color-variation($primary__palette);
//	@include breadcrumb-color-variation($neutral__palette);
//	@include breadcrumb-color-variation($state__palette);
//	@include breadcrumb-color-variation($classic__palette);
