/*
 * Units
 */
$navbar-c: $g-c;
$navbar-r: $g-r;
$navbar-x: $g-x;
$navbar-y: $g-y;
/*
 * Colors
 */
$navbar-border: transparent;
$navbar-bg: $default__color;
$navbar-fc-active: $white;
$navbar-bg-active: $primary__color;
/*
 * Base
 */
.navbar {
    display: flex;
    background-color: $navbar-bg;
}
.navbar .pagination,
.navbar .dropdown,
.navbar-item {
    display: inline-flex;
    padding: $navbar-y $navbar-x;
    border: 1px solid $navbar-border;
    background-color: $navbar-bg;
}
.navbar .pagination {
	padding: 0;
	border: 0;
}
.navbar .pagination-link,
.navbar .dropdown-toggle,
.navbar-link {
    color: inherit;

    @include state--hover("inherit", $navbar-bg, $navbar-c);
    @include state--focus("inherit", $navbar-bg, $navbar-c);
    @include state--active("inherit", $navbar-bg, ($navbar-c * 2));
    @include state--attr("aria-expanded=true", "inherit", $navbar-bg, ($navbar-c * 2));
}
.navbar .pagination-item,
.navbar .dropdown-item {
    border-radius: 0 !important;
}
.navbar .open .dropdown-toggle {
    color: $navbar-fc-active;
    background-color: $navbar-bg-active;
}
.navbar-header,
.navbar-logo {
    margin-right: auto;
}
.navbar-header {
    display: flex;
}
.navbar .dropdown {
    padding: 0;
    border: 0;
    .dropdown-toggle {
        border: 1px solid $navbar-border;
        border-radius: 0 !important;
    }
    &:last-child .dropdown-menu {
        right: 0;
        left: auto;
    }
}
.navbar-svg {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
    }
	object,
	img {
		$height: 1em;
		position: relative;
		height: $height;
		top: ($height / 4);
	}
}
/*
 * Variations
 */
.navbar-responsive {
    flex-direction: column;
    @media (min-width: $m-tablet) {
        flex-direction: row;
    }
    .navbar-toggle {
        @media (min-width: $m-tablet) {
            display: none;
        }
    }
    .navbar-item {
        flex: 1 0 auto;
    }
    .navbar-collapse, {
        display: flex;
        flex-direction: column;
        @media (min-width: $m-tablet) {
            flex-direction: row;
            height: initial !important;
        }
        &.collapse {
            display: none;
            @media (min-width: $m-tablet) {
                display: flex;
            }
        }
        &.in {
            display: flex;
        }
    }
}
.navbar-stacked {
    display: inline-flex;
	flex-direction: column;
	.navbar-item,
	.dropdown,
	.dropdown-toggle {
		flex-grow: 1;
	}
}
/*
 * Theme
 */
//	@include navbar-color-variation($default__palette);
//	@include navbar-color-variation($inverse__palette);
@include navbar-color-variation($primary__palette);
//	@include navbar-color-variation($neutral__palette);
//	@include navbar-color-variation($state__palette);
//	@include navbar-color-variation($classic__palette);
//	@include navbar-color-variation($classic__palette);
