/*
 * Units
 */
$tooltip-c: $g-c;
$tooltip-r: $g-r;
$tooltip-x: $g-x;
$tooltip-y: $g-y;
$tooltip-close-size: ($tooltip-y + 1);
$tooltip-offset: 4px;
/*
 * Colors
 */
$tooltip-border: $default__color;
$tooltip-bg: $default__color;
$tooltip-arrow-bg: $tooltip-bg;
$tooltip-arrow-border: $tooltip-border;
$tooltip-arrow-border-size: 1px;
$tooltip-arrow-inner-size: 10px;
$tooltip-arrow-outer-size: $tooltip-arrow-inner-size + $tooltip-arrow-border-size;
/*
 * Base
 */
.tooltip {
    position: relative;
    z-index: $g-z-tooltip;
    padding: $tooltip-y $tooltip-x;
    border: 1px solid $tooltip-border;
    border-radius: $tooltip-r;
    background-color: $tooltip-bg;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.tooltip:after,
.tooltip-arrow:after {
    position: absolute;
    z-index: $g-z-tooltip;
    display: block;
    clear: both;
    content: "";
}
.tooltip:after {
    border: $tooltip-arrow-inner-size solid transparent;
}
.tooltip-arrow:after {
    border: $tooltip-arrow-outer-size solid transparent;
}
.tooltip {
    &.top,
    &.bs-tether-element-attached-bottom {
        margin-top: negative($tooltip-arrow-inner-size + $tooltip-offset);
        &:after,
        .tooltip-arrow:after {
            top: 100%;
            left: 50%;
        }
        &:after {
            margin-left: negative($tooltip-arrow-outer-size) + ($tooltip-arrow-border-size * 2);
            border-top-color: $tooltip-arrow-bg;
        }
        .tooltip-arrow:after {
            margin-left: negative($tooltip-arrow-inner-size);
            border-top-color: $tooltip-arrow-border;
        }
    }
}
.tooltip {
    &.right,
    &.bs-tether-element-attached-left {
        margin-left: $tooltip-arrow-inner-size + $tooltip-offset;
        &:after,
        .tooltip-arrow:after {
            top: 50%;
            right: 100%;
            left: auto;
        }
        &:after {
            margin-top: negative($tooltip-arrow-outer-size) + ($tooltip-arrow-border-size * 2);
            border-right-color: $tooltip-arrow-bg;
        }
        .tooltip-arrow:after {
            margin-top: negative($tooltip-arrow-inner-size);
            border-right-color: $tooltip-arrow-border;
        }
    }
}
.tooltip {
    &.bottom,
    &.bs-tether-element-attached-top {
        margin-top: $tooltip-arrow-inner-size + $tooltip-offset;
        &:after,
        .tooltip-arrow:after {
            top: auto;
            bottom: 100%;
            left: 50%;
        }
        &:after {
            margin-left: negative($tooltip-arrow-outer-size) + ($tooltip-arrow-border-size * 2);
            border-bottom-color: $tooltip-arrow-bg;
        }
        .tooltip-arrow:after {
            margin-left: negative($tooltip-arrow-inner-size);
            border-bottom-color: $tooltip-arrow-border;
        }
    }
}
.tooltip {
    &.left,
    &.bs-tether-element-attached-right {
        margin-left: negative($tooltip-arrow-inner-size + $tooltip-offset);
        &:after,
        .tooltip-arrow:after {
            top: 50%;
            left: 100%;
        }
        &:after {
            margin-top: negative($tooltip-arrow-outer-size) + ($tooltip-arrow-border-size * 2);
            border-left-color: $tooltip-arrow-bg;
        }
        .tooltip-arrow:after {
            margin-top: negative($tooltip-arrow-inner-size);
            border-left-color: $tooltip-arrow-border;
        }
    }
}
/*
 * Theme
 */
//	@include tooltip-color-variation($default__palette);
//	@include tooltip-color-variation($inverse__palette);
//	@include tooltip-color-variation($primary__palette);
//	@include tooltip-color-variation($neutral__palette);
//	@include tooltip-color-variation($state__palette);
//	@include tooltip-color-variation($classic__palette);
