//
//  Units
$thumbnail__contrast:           $global__contrast;
$thumbnail__radius:             $global__radius;
$thumbnail__x:                  $global__x;
$thumbnail__y:                  $global__y;
//
//  Base
$thumbnail__padding:            0;
$thumbnail__radius:             $thumbnail__radius;
//
//  Components
$thumbnail-caption__padding:    $thumbnail__x;
