@charset "utf-8";

//
//  Settings
//  Global variables, config switches.
@import
    "01__settings/breakpoints",
    "01__settings/colors",
    "01__settings/fonts",
    "01__settings/output",
    //	"01__settings/paths",
    "01__settings/units";

//
//  Base
$global__root:          "/assets/ui/v2";
//
//  Paths
$global__font-path:     $global__root + "/font/";
$global__image-path:    $global__root + "/img/";

//
//  Tools
//  Default mixins and functions.
@import
    "02__tools/function/color",
    "02__tools/function/decimal",
    "02__tools/function/math",
    "02__tools/function/rhythm",
    "02__tools/function/unitless",
    "02__tools/mixin/clearfix",
    "02__tools/mixin/c-box",
    "02__tools/mixin/fontface",
    "02__tools/mixin/gradient",
    "02__tools/mixin/grid",
    "02__tools/mixin/scrollbar",
    "02__tools/mixin/state",
    "02__tools/mixin/truncate",
    "02__tools/theme/alert",
    "02__tools/theme/badge",
    "02__tools/theme/breadcrumb",
    "02__tools/theme/btn",
    "02__tools/theme/btn-group",
    "02__tools/theme/card",
    "02__tools/theme/caret",
    "02__tools/theme/dropdown",
    "02__tools/theme/grid",
    "02__tools/theme/hero",
    "02__tools/theme/input-group",
    "02__tools/theme/list-group",
    "02__tools/theme/modal",
    "02__tools/theme/nav",
    "02__tools/theme/navbar",
    "02__tools/theme/pager",
    "02__tools/theme/pagination",
    "02__tools/theme/panel",
    "02__tools/theme/popover",
    "02__tools/theme/progress-bar",
    //  "02__tools/theme/form",
    "02__tools/theme/table",
    "02__tools/theme/utilities",
    "02__tools/theme/well";

//
//  Generic
//  Ground-zero styles (Normalize.css, resets, box-sizing).
@import
    "03__generic/normalize",
    "03__generic/reset";

//
//  Base
//  Unclassed HTML elements (type selectors).
@import
    "04__base/fontawesome/font-awesome",
    "04__base/syntax",
    "04__base/typography";

//
//  Objects
//  Cosmetic-free design patterns.
@import
    "05__objects/theme/alert",
    "05__objects/theme/badge",
    "05__objects/theme/breadcrumb",
    "05__objects/theme/btn",
    "05__objects/theme/btn-group",
    "05__objects/theme/card",
    "05__objects/theme/caret",
    //  "05__objects/theme/carousel",
    "05__objects/theme/close",
    "05__objects/theme/dropdown",
    "05__objects/theme/form",
    "05__objects/theme/grid",
    "05__objects/theme/hero",
    "05__objects/theme/img",
    "05__objects/theme/input-group",
    //  "05__objects/theme/labels",
    "05__objects/theme/list-groups",
    "05__objects/theme/list",
    "05__objects/theme/media",
    "05__objects/theme/modals",
    "05__objects/theme/navbar",
    "05__objects/theme/nav",
    //  "05__objects/theme/notify";
    //  "05__objects/theme/offcanvas";
    "05__objects/theme/pager",
    "05__objects/theme/pagination",
    "05__objects/theme/panel",
    "05__objects/theme/popover",
    "05__objects/theme/progress-bar",
    "05__objects/theme/responsive-embed",
    "05__objects/theme/scrollbar",
    "05__objects/theme/tab",
    "05__objects/theme/table",
    //  "05__objects/theme/sortable";
    //  "05__objects/theme/thumbnails";
    //  "05__objects/theme/tooltip";
    //  "05__objects/theme/utilities";
    "05__objects/theme/well",

    "05__objects/site/footer",
    "05__objects/site/header",
    "05__objects/site/logo",
    "05__objects/site/nav",
    "05__objects/site/object",
    "05__objects/site/section",
    "05__objects/site/text";

//
//  Components
//  Designed components, chunks of UI.
//  @import
//      "06__components/...",

//
//  Trumps
//  Helpers and overrides.
@import
    "07__trumps/animations",
    "07__trumps/bg",
    "07__trumps/extend",
    "07__trumps/floats",
    "07__trumps/sr",
    "07__trumps/text";

//
//  Shame
//  Yup.
@import
    "08__shame/feeds",
    "08__shame/page-specific";



