//
//  Units
$close__contrast:   $global__contrast;
$close__radius:     $global__radius;
$close__x:          $global__x;
$close__y:          $global__y;
//
//  Base
$close__font:       $sans--bold;
$close__use-icon:   false !default;
$close__icon:       $fa-var-close;

