.leads,
.feeds {
    .dropdown + .dropdown {
        margin-top: rhythm(0.5);
    }
}

.lead__item,
.feed__item {
    padding: rhythm(1) 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.lead__body,
.feed__body {
    padding-left: 4.2em;
}

.lead__actions,
.feed__actions {
    width: 10em;
    text-align: right;
}
