.oncanvas-nav.navbar {
    z-index: 1130;
}

.offcanvas-nav.navbar {
    position: absolute;
    z-index: 1100;

    &,
    &.navbar-stacked .navbar-nav {
        border-radius: 0;
    }

    @media (min-width: $offcanvas-breakpoint) {
        position: relative;
    }

    .navbar-sidebar-wrapper {
        @media ( min-width: 500px ) {
            width: $navbar-sidebar__width !important;
        }
    }
}

.offcanvas-nav-nested.navbar {
    //  position: absolute;

    .navbar-sidebar-wrapper {
        @media ( min-width: 500px ) {
            width: calc(#{$screen-md-min} - #{$navbar-sidebar__width}) !important;
        }
    }
}
