* {
	margin: 0;
	padding: 0;
	color: inherit;
	font: inherit;
}
body {
	margin-top: 1em;
	margin-left: 1em;
}
.pos-parent {
	position: relative;
	height: 10em;
	width: 10em;
	border: 1px solid;
	& + & {
		margin-top: 1em;
	}
}
.pos-child {
	position: absolute;
	border: 1px solid;
}
.pos-center-y {
	top: 50%;
	transform: translateY(-50%);
}
.pos-center-x {
	left: 50%;
	transform: translateX(-50%);
}
.pos-center-x.pos-center-y {
	transform: translateX(-50%) translateY(-50%);
}
