//
//	Carousel
//
.carousel {
    position: relative;
    z-index: 100;
    overflow: hidden;
    width: 100%;
    background-color: #333;
    transition: height 0.5s ease-in-out;
	&.active {
		.carousel__item {
			opacity: 0.4;
			&.active {
				/*border-color: green;*/
				z-index: 100;
				opacity: 1;
			}
		}
	}
}
.carousel__outer {
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
    &.dragging {
        transition: none;
    }
}
.carousel__inner {
    transition: transform 0.5s ease-in-out;
    backface-visibility: hidden;
}
.carousel__item {
	position: absolute;
	transition-property: transform, width, height, opacity, z-index;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
    backface-visibility: hidden;
    background-size: contain;
    /*background-color: #444;*/
	/*border: 1px solid red;*/
}
.carousel__image {
	/*opacity: 0 !important;*/
	width: 100%;
    backface-visibility: hidden;
}
//
//	Carousel Controls
//
.carousel__controls {
    position: relative;
    z-index: 200;
    width: 100%;
    transition: opacity 0.25s ease-in-out;
    backface-visibility: hidden;
    &.carousel__controls--hidden {
        pointer-events: none;
        opacity: 0;
    }
}
.carousel__control {
    line-height: 1;
    position: absolute;
    width: 3em;
    height: 3em;
    transition: opacity 0.25s ease-in-out;
    transform: translateY(-50%);
    color: inherit;
    border: 4px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    background-color: white;
    &.carousel__control--hidden {
        pointer-events: none;
        opacity: 0;
    }
	> .fa {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
	}
}
.carousel__control--prev {
	left: 0;
}
.carousel__control--next {
    right: 0;
}
