//
//  Body
$body__font:            $primary__font--regular;
$body__color:           $inverse__color;
//
//  Heading
$heading__font:         $primary__font--regular;    // was --bold
$heading__small__size:  $h6__font-size;
$heading__small__color: $gray__03;
//
//  Display
$display__font:         $primary__font--regular;    // was --bold
//
//  Links
$link__color:           $primary__color;
$link--hover__color:    shade($link__color, 20%);
$link--active__shadow:  inset 0 $three__pixels $five__pixels rgba(0, 0, 0, 0.125);
//
//  Lead Paragraph
$lead__font-size:       $h4__font-size;
//
//  Strong
$strong__font:          $primary__font--bold;
//
//  List
$list__padding:         rhythm(1);
//
//  Definition List
$dl__horizontal__width:   rhythm(5);
$dl__horizontal__gutter:  ($global__x * 2);
//
//  Code
$code__font:            $code__font--regular;
$mark__bg:              $accent__color;
$mark__color:           $white;
