a {
    color:  $link__color;

    > svg path {
        fill: $link__color;
    }

    @include state {
        color: $link--hover__color;
    }

    &:active {
        box-shadow: $link--active__shadow;
    }
}
