dt {
    font-family: $strong__font;
    font-weight: normal;
}

.dl-horizontal {
    dd {
        @include clearfix;
    }

    dt {
        float: left;

        width: $dl__horizontal__width;

        @include text-overflow-ellipsis;
    }

    dd {
        margin-left: $dl__horizontal__width + $dl__horizontal__gutter;
    }
}
