extends ../templates/bootstrap-v36.jade
block style
	link(rel="stylesheet" href="../css/mockups/vdp.css")
block title
	title VDP
block content
	main.vdp.not-b-lazy
		//
		//	Breadcrumb
		.vdp-breadcrumb
			.container
				.pull-left
					ol.breadcrumb
						li
							a(href="#") Search New
						li
							a(href="#") Chevrolet
						li.active 2016 Chevrolet Silverado 1500 Work Truck Extended Cab
				.pull-right
					ul.nav.nav-pills
						li
							a(href="#")
								i.fa.fa-envelope
								| &nbsp; Email
						li
							a(href="#")
								i.fa.fa-print
								| &nbsp; Print
						li
							a(href="#")
								i.fa.fa-mobile
								| &nbsp; Text
		//
		//	Carousel
		.vdp-carousel-wrapper.js-vdp-carousel-wrapper
			.vdp-carousel-controls.container
				.vdp-carousel-controls-navbar
					ul.nav.nav-pills.small
						li
							a(href="#")
								i.fa.fa-play-circle
								| &nbsp; Video
						li
							a(href="#")
								i.fa.fa-tint
								| &nbsp; Colors
						li
							a(href="#")
								i.fa.fa-refresh
								| &nbsp; 360&deg;
				.vdp-carousel-controls-slide
					a.btn.control.control-left.js-control-left(href="")
						i.fa.fa-chevron-left
					a.btn.control.control-right.js-control-right(href="")
						i.fa.fa-chevron-right
			.vdp-carousel.js-vdp-carousel
				.vdp-carousel-item.hero
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-0(data-count="0" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-1(data-count="1" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-2(data-count="2" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-3(data-count="3" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-4(data-count="4" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-5(data-count="5" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-6(data-count="6" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-7(data-count="7" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-8(data-count="8" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-9(data-count="9" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-10(data-count="10" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-11(data-count="11" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-12(data-count="12" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-13(data-count="13" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-14(data-count="14" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-15(data-count="15" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-16(data-count="16" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-17(data-count="17" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-18(data-count="18" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-19(data-count="19" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-20(data-count="20" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-21(data-count="21" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-22(data-count="22" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
				.vdp-carousel-item
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-23(data-count="23" src="http://placehold.it/640x480" data-src="../img/canyon02.jpg")
					img.vdp-carousel-image.b-lazy.js-vdp-carousel-image#vdp-carousel-image-24(data-count="24" src="http://placehold.it/640x480" data-src="../img/canyon01.jpg")
		//
		//	Body
		.vdp-body
			.js-vdp-body-container.container
				.row
					.col-lg-8.col-md-7
						.panel
							.panel-heading
								.vdp-vehicle-title
									ul.list-inline.small.text-muted
										li Vin: 3GCUKREC4GG120117
										li Stock: P23219
										li Model: CK15543
									h1.h4.strong 2016 Chevrolet Silverado 1500 Work Truck Extended Cab w/ Cheese
									ul.list-inline.small
										li.vdp-vehicle-ratings
											i.fa.fa-star.active
											i.fa.fa-star.active
											i.fa.fa-star.active
											i.fa.fa-star.inactive
											i.fa.fa-star.inactive
										li.vdp-vehicle-reviews.text-muted.
											 3.73(49) Reviews - Edmunds.com
										li.vdp-vehicle-confirmavailability.text-muted
											a.btn.btn-sm.btn-default.btn-rounded(href="#")
												i.fa.fa-check.text-muted
												span.text-muted
													| &nbsp;Confirm Availability
							.panel-body
								.row
									.col-lg-6
										.vdp-vehicle-features
											ul.list-unstyled
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted City/Hwy
														h3.h5.strong.vdp-feature-body-title 30/20mpg
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted Body Style
														h3.h5.strong.vdp-feature-body-title 4WD Crew Cab 143.5" LT w/2LT
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted Ext/Int
														h3.h5.strong.vdp-feature-body-title
															i.fa.fa-drop
															| Ruby Metallic /
															i.fa.fa-drop
															| Dark Ash
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted Horsepower
														h3.h5.strong.vdp-feature-body-title 349hp
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted Engine
														h3.h5.strong.vdp-feature-body-title 8Cyl - 6.7L
												li.vdp-feature.media
													.vdp-feature-icon.media-left
														img(src="http://placehold.it/24x24")
													.vdp-feature-body.media-body
														span.vdp-feature-body-small.text-muted Transmission
														h3.h5.strong.vdp-feature-body-title 6 Speed FWD
									.col-lg-6
										.vdp-vehicle-description
											h3.h5.strong Vehicle Description
											p This car is made of cheese. All rebates to dealer. All prior sales excluded. In stock units only. 0% offers may be in lieu of factory rebates, and are based on approved tier 1 credit through GM Financial. Leases include 10K miles per year with $0.25 per mile over penalty. Purchase Payment based on tier credit through preferred lender. Lease Payment based on approved tier 1 credit through GM Financial. Payment includes title, registration...<strong>read more</strong>
										.vdp-eligible-benefits
											h3.h5.strong Eligible Benefits
											ul.list-inline
												li
													img(src="http://placehold.it/60x40")
												li
													img(src="http://placehold.it/60x40")
												li
													img(src="http://placehold.it/60x40")
												li
													img(src="http://placehold.it/60x40")
						.panel
							.vdp-tabs-wrapper.panel-heading
								ul.vdp-tabs.nav.nav-tabs.nav-justified(role="tablist")
									li.active(role="presentation")
										a.strong(href="#features" role="tab" data-toggle="tab") Features
									li(role="presentation")
										a.strong(href="#options" role="tab" data-toggle="tab") Options
									li(role="presentation")
										a.strong(href="#reviews" role="tab" data-toggle="tab") Reviews
									li(role="presentation")
										a.strong(href="#warranty" role="tab" data-toggle="tab") Warranty
							.vdp-tab-content-wrapper.panel-body
								.vdp-tab-content.tab-content
									.tab-pane#features.active(role="tabpanel")
										h3.h5.strong Comfort
										ul
											li Audio system with AM/FM radio, CD player (reads MP3 format), digital media card, digital radio, satellite radio, touch screen, color screen and MyLink
											li Steering wheel mounted remote audio controls
											li Six speakers
											li Antenna
											li Cruise control
											li Trip computer: includes average fuel economy, current fuel economy and range for remaining fuel
											li Alloy-look trim and none
											li Remote power locks ; automatic locking
											li Upholstery cloth
											li Driver 40/20/40 split front seat manual lumbar, front passenger seat 40/20/40 split front seat, front center seat 40/20/40 split front seat
											li Split-folding rear seats: split
											li Leather-trimmed, tilt steering wheel
											li Power steering type and EPS
											li Front cup holders
											li Climate control
											li Body-color heated driver and passenger power door mirrors
											li Front and rear windows with one-touch on two windows
											li Internet navigation system with arrows and voice
											li ExteriorFront and rear alloy wheels: 17" x 8.0"Chrome front and rear bumpersFront and rear 265/65-17 and all-terrain tiresSafetyABSFour-wheel disc brakes: four ventilatedRear mechanical limited-slip differentialElectronic traction controlHeadlights: low beam bulb with projector beam lenses Bi-XenonHeadlight control with dusk sensorFront fog lightsIntelligent driver and passenger front airbagFront side airbagFront and rear curtain airbagTwo height-adjustable front seat and rear seat head restraintsHeight adjustable driver front seat belts with pre-tensioners, height adjustable passenger front seat belts with pre-tensioners, center front seat beltsRear seat belt, passenger rear seat belt, 3-point center rear seat beltIntermittent windshield wipersTechnicalEngine: 4.3L EcoTec3 V 6 and variable valve timingGasoline direct fuel injectionPrimary fuel type: E85, Secondary fuel type: unleadedPower (SAE): 297 hp @ 5,300 rpm; 330 ft lb of torque @ 3,900 rpmIndependent front wishbone suspension with stabilizer bar and coil springs, rigid rear beam suspension with leaf springsHeavy duty suspensionTransmission: automatic with manual mode and column shifter
									.tab-pane#options(role="tabpanel")
										| Options
									.tab-pane#reviews(role="tabpanel")
										| Reviews
									.tab-pane#warranty(role="tabpanel")
										| Warranty
					.col-lg-4.col-md-5
						.panel
							.vdp-sidebar-heading
								.nav.nav-tabs
									li.vdp-sidebar-notifications-pricedrop.js-vdp-sidebar-notifications-pricedrop
										a.js-vdp-sidebar-notifications-pricedrop-link(href="#")
											span Recent Price Drop&nbsp;
											i.fa.fa-exclamation
										div
											span Reduced by $500 from 5/21/2016
											a.btn.btn-sm.btn-rounded
												| Get Price Drop Alert
									li.vdp-sidebar-notifications-yousave
										a(href="#")
											span You Save: <sup>$</sup>6,283
							.vdp-sidebar-body.panel-body
								ul.list-inline.small
									li.text-muted MSRP: $51,625
								h2.h4.vdp-price
									span.vdp-price-label Internet Price:
									span.vdp-price-price &nbsp;<sup>$</sup>45,432
								.vdp-calculate-payments
									ul.list-inline.text-muted
										li.small
											| Lease
											br
											| $880/mo
										li.small
											| Finance
											br
											| $880/mo
										li
											a.btn.btn-sm.btn-default.btn-rounded(href="#" style="margin-right: 10px;")
												i.fa.fa-calculator.text-muted
												| &nbsp;
												i.fa.fa-caret-down.text-muted
											a.btn.btn-sm.btn-default.btn-rounded(href="#")
												i.fa.fa-check.text-muted
												span.text-muted
													| &nbsp;Only 13 Left!
								.input-group.vdp-input-group
									input.form-control(type="text", placeholder="You@email.com")
									span.input-group-btn
										button.btn.btn-primary(type="button")
											i.fa.fa-tag
											strong &nbsp;Get Sale Price
								p.vdp-disclaimer.small
									| Please Note: We provide Savings on our vehicles daily based on current inventory supply. Check to see if this vehicle  qualifies for a Sale Price.

						.panel
							.panel-body
								table.vdp-pricing-details.table
									thead
										tr
											th
												h3.h5.strong Savings
									tbody
										tr.strong
											td MSRP:
											td $51,625
										tr.strong
											td Dealer Discount:
											td $3,819
										tr
											td WE Retail Consumer Cash:
											td $2,000
										tr
											td West 2016 Bonus Cash:
											td $500
										tr
											td WE Chrysler Capital 2016 Bonus:
											td $500
										tr
											td West 2016 RETAIL Bonus:
											td $1,000
										tr
											td Internet Price:
											td $45,432
										tr.strong
											td OFF MSRP:
											td $6,283
								.row.vdp-pricing-buttons
									.col-sm-6
										a.btn.btn-default.btn-block(href="") Button
									.col-sm-6
										a.btn.btn-default.btn-block(href="") Button

								table.vdp-pricing-details.table
									thead
										tr
											th
												h3.h5.strong Extra Savings
									tbody
										tr
											td 2016 Conquest Lease to Retail:
											td $1,000
										tr
											td 2016 MY USAA Member:
											td $500
										tr
											td 2016 Returning Lessee:
											td $500
										tr
											td 2016/2015 MY Military Program:
											td $500
										tr
											td 2016 Returning Lessee Retail LBC:
											td $2,000
block script
	//	script(defer src="../js/smoothscroll.js")
	script(defer src="../js/blazy.js")
	script(defer src="../js/mockups/vdp.js")
