//
//  Units
$img__contrast:     $global__contrast;
$img__radius:       $global__radius;
$img__x:            $global__x;
$img__y:            $global__y;
//
//  Variations
$img--sm__radius:  ( $img__radius / $base__font-ratio );

