
$sortable-ghost__border:   mix($gray__01, $primary__color, 90%);
$sortable-ghost__bg:       mix($gray__01, $primary__color, 90%);

$sortable-chosen__border:  mix($gray__01, $state--info, 90%);
$sortable-chosen__bg:      mix($gray__01, $state--info, 90%);

