@charset "utf-8";
//
//	Imports
//
@import "./var";
@import "./mixin";
//
//	Reset
//
* {
    font: inherit;
    font-size: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
    border: 0;
    background-color: transparent;
}
button,
select {
	cursor: pointer;
}
a,
button {
	&:active {
		box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	}
}
//
//	Typeface
//
@font-face {
    font-family: "Avenir";
    font-weight: 400;
	src: url($font-path + "avenirltstd-roman-webfont.eot");
	src: url($font-path + "avenirltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url($font-path + "avenirltstd-roman-webfont.woff") format("woff"), url($font-path + "avenirltstd-roman-webfont.ttf") format("truetype"), url($font-path + "avenirltstd-roman-webfont.svg#svgavenirltstd-roman-webfont") format("#svg");
}
@font-face {
    font-family: "Avenir";
    font-weight: 700;
	src: url($font-path + "avenirheavy-webfont.eot");
	src: url($font-path + "avenirheavy-webfont.eot?#iefix") format("embedded-opentype"), url($font-path + "avenirheavy-webfont.woff") format("woff"), url($font-path + "avenirheavy-webfont.ttf") format("truetype"), url($font-path + "avenirheavy-webfont.svg#svgavenirheavy-webfont") format("#svg");
}
//
//	Font Awesome
//
.fa {
    line-height: inherit !important;
}
//
//	Typography
//
body {
    font-family: "Avenir", sans-serif;
    line-height: $global-lineheight;
    color: #333;
	min-width: $media-max-md;
}
hr {
    height: 1px;
    margin: $global-y 0;
    background-color: $gray-02;
}
//
//	Paragraphs
//
p {
	margin-bottom: rhythm(1);
}
//
//	Headings
//
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    margin-bottom: $global-y;
}
.h1 {
    font-size: 2.44141em;
}
.h2 {
    font-size: 1.95313em;
}
.h3 {
    font-size: 1.5625em;
}
.h4 {
    font-size: 1.25em;
}
.h5 {
    font-size: 1em;
}
.h6,
.small,
small {
    font-size: $global-y;
}
strong {
    font-weight: 700;
}
//
//	Alerts
//
.alert {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
.alert .close {
    position: absolute;
    top: $global-x;
    right: $global-y;
}
.alert-item.btn:last-child:not(:only-child) {
	margin-top: 1.6em;
}
@mixin alert-color-variation($input) {
    @each $class, $color in $input {
        .alert-#{$class} {
			color: check-color($color, 80, inherit, $color-white);
            background-color: $color;
        }
    }
}
//	@include alert-color-variation($palette-default);
//	@include alert-color-variation($palette-inverse);
//	@include alert-color-variation($palette-primary);
//	@include alert-color-variation($palette-neutral);
@include alert-color-variation($palette-state);
//	@include alert-color-variation($palette-classic);
//	@include alert-color-variation($grayscale);
//
//	Buttons
//
.btn {
    display: inline-flex;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
	cursor: pointer;
    &:hover,
    &:focus {
        background-color: shade($gray-01, 10%);
    }
    &:active {
        background-color: shade($gray-01, 10%);
    }
    &.active {
        background-color: $color-primary;
	}
}
.btn-link {
	//	to match line-height of text
	padding-top: 0;
	padding-bottom: 0;
    border-color: transparent;
}
//
//	Buttons Rounded
//
.btn-rounded {
	border-radius: 1.6rem;
}
//
//	Button Group
//
.btn-group-inline {
    display: flex;
}
.btn-group-justified {
    justify-content: space-between;
    .btn {
        flex: 1 1 0;
    }
}
.btn-group-stacked {
    display: flex;
    flex-direction: column;
}
//
//	Card
//
.card {
    display: flex;
    flex-direction: column;
}
.card-header,
.card-body,
.card-footer {
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
.card-group {
    display: flex;
    .card {
        flex: 1 1 0;
        .card-body {
            flex-grow: 1;
        }
    }
}
//
//	Dropdown
//
.dropdown,
.dropup {
    display: inline-flex;
	position: relative;
}
.dropdown-toggle,
.dropdown-item {
    display: inline-flex;
    padding: $global-x $global-y;
}
.dropdown-toggle {
    position: relative;
    padding-right: 1.6rem;
    border: 1px solid rgba(0,0,0,0.1);
    &:after {
        position: absolute;
        top: 50%;
        right: 0.8rem;
        display: inline-block;
        margin-top: -0.125rem;
        content: "";
        border-width: 0.25rem;
        border-style: solid;
        border-color: currentColor transparent transparent;
    }
}
.dropdown.open .dropdown-toggle {
	color: $color-white;
	background-color: $color-primary;
}
.dropdown-item {
    border: 1px solid transparent;
	flex-shrink: 0;
	white-space: nowrap;
}
.dropdown-link {
    &:hover,
	&.hover,
    &:focus {
        background-color: shade($gray-01, 10%);
    }
    &:active {
        background-color: shade($gray-01, 10%);
    }
    &.active {
        background-color: $color-primary;
	}
}
.dropdown-menu {
    position: absolute;
    z-index: $zindex-dropdown-menu;
    top: 100%;
    left: 0;
    //	display: none;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: $gray-01;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.15s linear;
	opacity: 0;
	pointer-events: none;
}
.dropdown-lg .dropdown-menu {
	min-width: 50vw;
	max-height: 50vh;
	overflow-y: auto;
}
.open .dropdown-menu {
    //	display: flex;
	opacity: 1;
	pointer-events: all;
}
.dropdown-divider {
    height: 1px;
    padding: 0;
    border: 0;
    background-color: $gray-02;
}
//
//	Dropdown Rounded
//
.dropdown-rounded .dropdown-toggle {
	border-radius: 1.6em;
}
//
//	Forms
//
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: $global-y;
}
.form-label,
.form-control,
.form-helper-text {
    display: inline-flex;
    padding: $global-x $global-y;
}
.form-label {
    border: 1px solid transparent;
}
.form-control {
    border: 1px solid rgba(0,0,0,0.1);
}
.form-control-rounded {
	border-radius: $global-y * 2;
}
.radio,
.checkbox {
    display: flex;
    padding: $global-x $global-y;
    label {
        display: flex;
        align-items: center;
    }
    input {
        margin-right: $global-y;
    }
}
$checkbox-fancy-height: $global-lineheight * $global-unit;
.checkbox-fancy-1 {
    position: relative;
    cursor: pointer;
    text-align: center;
    &:before,
    &:after {
        font-family: FontAwesome;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: $checkbox-fancy-height;
        height: $checkbox-fancy-height;
        margin-top: ($checkbox-fancy-height / -2);
        margin-left: ($checkbox-fancy-height / -2);
        content: "\f00c";
        transition: color 0.25s ease-in-out;
        color: $gray-01;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 50%;
        background-color: $gray-01;
    }
    &:checked:after {
        color: currentColor;
    }
}
//
//	Forms Inline
//
.form-inline {
    .form-group {
        flex-flow: row wrap;
        align-items: center;
    }
    .form-group label {
        flex-grow: 0;
    }
    .form-group .form-control {
        flex-grow: 1;
    }
    .form-group .form-helper-text {
        flex-basis: 100%;
    }
}
//
//	Forms Horizontal
//
.form-horizontal {
    .form-group {
		display: flex;
		flex-direction: row;
		align-items: baseline;
    }
    .form-group label {
        flex-grow: 0;
    }
    .form-group .form-control {
		display: flex;
        flex-grow: 1;
		width: 100%;
    }
    .form-group .form-helper-text {
        flex-basis: 100%;
    }
}
//
//	FontAwesome
//
.fa-offset {
    position: relative;
    right: 0.5rem;
    margin-left: -1rem;
}
//
//	Histogram
//
.histogram {
    position: relative;
    display: flex;
    height: 20em;
    border: 1px solid rgba(0,0,0,0.1);
}
.histogram-body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin: 0 0 2em 2em;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: $gray-02;
}
.histogram-x-body {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}
.histogram-x-bar {
    position: relative;
    flex-grow: 1;
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: $color-primary;
}
.histogram-x-label {
    position: absolute;
    bottom: -2em;
    left: 0;
    width: 100%;
    text-align: center;
}
.histogram-labels {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow: hidden;
}
//	.histogram-x-labels {
//	    position: absolute;
//	    right: 0;
//	    bottom: 0;
//	    left: 0;
//	    display: flex;
//	    align-items: center;
//	    justify-content: space-between;
//	    height: 2em;
//	    margin-left: 2em;
//	}
//	.histogram-x-label {
//	    flex-grow: 1;
//	    text-align: center;
//	}
.histogram-y-label {
	position: relative;
}
.histogram-y-labels {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    width: 2em;
    margin-bottom: 2em;
    padding: 0.5em 0;
}
.histogram-y-label:after {
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5em);
    display: block;
    width: 100em;
    height: 1px;
    margin-top: -1px;
    content: "";
    background-color: rgba(0,0,0,0.2);
}
//
//	Input
//
/* Chrome/Opera/Safari */
input::-webkit-input-placeholder {
  color: #333;
}
/* Firefox 19+ */
input::-moz-placeholder {
  color: #333;
}
/* IE 10+ */
input:-ms-input-placeholder {
  color: #333;
}
/* Firefox 18- */
input:-moz-placeholder {
  color: #333;
}
//
//	Input Groups
//
.input-group {
    display: flex;
    align-items: center;
	position: relative;
}
.input-group-addon {
    display: inline-flex;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
.input-group-rounded {
    .form-control,
    .input-group-addon {
        &:first-child {
            border-top-left-radius: 1.6rem;
            border-bottom-left-radius: 1.6rem;
        }
        &:last-child {
            border-top-right-radius: 1.6rem;
            border-bottom-right-radius: 1.6rem;
        }
    }
	//	input-group contains dropdown
	.dropdown {
		&:first-child .dropdown-toggle {
			border-top-left-radius: 1.6rem;
			border-bottom-left-radius: 1.6rem;
		}
		&:last-child .dropdown-toggle {
			border-top-right-radius: 1.6rem;
			border-bottom-right-radius: 1.6rem;
		}
	}
}
//
//	Lists
//
.list-inside {
    list-style-position: inside;
}
.list-unstyled,
.list-inline {
    list-style: none;
}
.list-inline > li {
    display: inline-block;
}
//
//	List Group
//
.list-group-inline {
    display: flex;
}
.list-group-stacked {
    display: flex;
    flex-direction: column;
	width: 100%;
}
.list-group-item {
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
//
//	List Group contains alerts
//
.list-group-item.alert {
	& + & {
		margin-top: $global-y;
	}
}
//
//	Links
//
a,
button {
    color: $color-primary;
}
//
//	Grid Container
//
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: $grid-gutter;
    padding-left: $grid-gutter;
}
@media (min-width: $media-min-sm) {
    .container {
        max-width: $media-min-sm;
    }
}
@media (min-width: #{$media-min-md}) {
    .container {
        max-width: calc(#{$media-min-md} - (#{$grid-gutter} * 2));
    }
}
@media (min-width: #{$media-min-lg}) {
    .container {
        max-width: calc(#{$media-min-lg} - (#{$grid-gutter} * 2));
    }
}
@media (min-width: #{$media-min-xl}) {
    .container {
        max-width: calc(#{$media-min-xl} - (#{$grid-gutter} * 2));
    }
}
.container-fluid {
    max-width: 100%;
}
//
//	Grid Rows
//
.row {
	width: 100%;
    margin-right: ($grid-gutter * -1);
    margin-left: ($grid-gutter * -1);
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}
//
//	Grid Columns
//
$grid-columns: 12;
$grid-pull: true;
$grid-push: true;
$grid-offset: true;
@include columns();
//
//	Media
//
.media {
    display: flex;
    .media {
        margin-top: 1rem;
    }
}
.media-object + .media-body,
.media-body + .media-object {
    margin-left: 1rem;
}
.media-object {
    flex-shrink: 0;
}
.media-body {
    flex-grow: 1;
}
.media-bottom {
    align-items: flex-end;
}
.media-middle {
    align-items: center;
}
//
//	Modal
//
.modal-open {
    overflow: hidden;
}
.modal {
    position: fixed;
    z-index: $zindex-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: hidden;
    outline: 0;

    -webkit-overflow-scrolling: touch;
}
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-out;
    transform: translate(0, -25%);
}
.modal.in .modal-dialog {
    transform: translate(0, 0);
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.75rem;

    backface-visibility: hidden;
}
.modal-backdrop {
    position: fixed;
    z-index: $zindex-modal-backdrop;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

    backface-visibility: hidden;
}
.modal-backdrop.fade {
    opacity: 0;
}
.modal-backdrop.in {
    opacity: 0.5;
}
.modal-content {
    position: relative;
    border-radius: 0.3rem;
    background-color: #fff;
}
.modal-header,
.modal-body,
.modal-footer {
    position: relative;
    display: flex;
    padding: 0.5rem 0.75rem;
    border: 1px solid #e4e4e4;
}
.modal-header {
	flex-direction: column;
}
.modal-header .close {
    margin-bottom: -0.5rem;
    padding: 0.375rem;
	position: absolute;
	top: 0;
	right: $global-x;
}
.modal-title {
    margin: 0;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    overflow: scroll;
    width: 50px;
    height: 50px;
}
@media (min-width: 544px) {
    .modal-dialog {
        max-width: 600px;
        margin: 30px auto;
    }
    .modal-sm {
        max-width: 300px;
    }
}
@media (min-width: 768px) {
    .modal-lg {
        max-width: 900px;
    }
}
.modal-fluid {
	max-width: 100%;
	margin: 3rem;
}
.modal-row {
    display: inline-flex;
    flex-basis: 100%;
}
//
//	Navbar
//
.navbar {
    display: flex;
    flex-wrap: wrap;
}
.navbar-row {
    display: inline-flex;
    flex-basis: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.navbar-group {
    display: inline-flex;
    flex-wrap: wrap;
}
.navbar-item {
    display: inline-flex;
    padding: $global-x $global-y;
	&.active:not(.tab-pane) {
		color: $color-white;
		background-color: $color-primary;
	}
}
.navbar-logo {
    margin-right: auto;
}
//
//	Navbar contains button
//
.navbar-item.btn-rounded {
	margin: $global-x;
	padding-top: 0;
	padding-bottom: 0;
}
//
//	Navbar contains dropdown
//
.navbar-item.dropdown {
    padding: 0;
    .dropdown-toggle {
		height: 100%;
    }
}
.navbar-item.dropdown-rounded {
	margin: $global-x;
    .dropdown-toggle {
        padding-top: 0;
        padding-bottom: 0;
	}
}
//
//	Navbar contains input-group
//
.navbar-item.input-group {
    padding: 0;
    .form-control,
    .input-group-addon {
		height: 100%;
    }
}
.navbar-item.input-group-rounded {
	margin: $global-x;
    padding: 0;
    .form-control,
    .input-group-addon,
    .dropdown-toggle {
		padding-top: 0;
		padding-bottom: 0;
    }
}
//
//	Navbar contains form-control
//
.navbar-item.form-control {
    border-top: 0;
    border-bottom: 0;
	height: 100%;
}
//
//	Navbar contains select
//
.navbar select {
    height: 100%;
}
.navbar-justified {
	justify-content: space-between;
	.navbar-item {
		flex: 1 1 0;
	}
}
//
//	Navbar Colors
//
.navbar-primary,
.navbar-white {
    a, button {
        color: inherit;
    }
}
.navbar-primary {
    color: $color-white;
    border-color: $color-primary;
    background-color: $color-primary;
}
.navbar-white {
    color: #333;
    border-color: transparent;
    background-color: $color-white;
}
//
//	Navs
//
.nav {
    display: flex;
}
.nav-item {
    display: inline-flex;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
    &.active {
        color: $color-white;
        background-color: $color-primary;
    }
}
.nav-tabs {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    .nav-item {
        margin-right: 0.2rem;
        margin-bottom: -1px;
        border-radius: 4px 4px 0 0;
        &:not(.active) {
            border-bottom-color: transparent;
        }
    }
}
.nav-pills {
    .nav-item {
        margin-right: 0.2rem;
        border-radius: 8px;
    }
}
.nav-stacked {
	flex-direction: column;
}
.nav-white {
	.nav-item {
		border-color: transparent;
		background-color: $color-white;
		&.active {
			background-color: $color-primary;
		}
	}
}
//
//	Offcanvas
//
.oncanvas-navbar {
    position: fixed;
    z-index: $zindex-oncanvas-navbar;
    top: 0;
    right: 0;
    left: 0;

    backface-visibility: hidden;
}
.oncanvas-body {
    z-index: $zindex-offcanvas-body;
    margin-top: calc(((0.8 + 1.6) * 1em));// + 2px);
    transition-timing-function: ease-in-out;
    transition-duration: 0s, 0.25s;
    transition-property: width, margin-left;

    backface-visibility: hidden;
    @media (min-width: $media-min-lg) {
        width: calc(100% - 15em);
        margin-left: 15em;
    }
}
.offcanvas-toggle {
    align-items: center;
    &:after {
        font-family: "FontAwesome";
        font-size: 14px;
        content: "\f0c9";
    }
    @media (min-width: $media-min-lg) {
        display: none;
    }
}
.offcanvas-sidebar {
    position: fixed;
    z-index: $zindex-offcanvas-sidebar;
    top: calc(((0.8 + 1.6) * 1em));// + 2px);
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 15em;
    transition-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transition-property: transform;
    background-color: $color-white;
    box-shadow: 1px 0 4px rgba(0,0,0,0.2);

    backface-visibility: hidden;
    @media (max-width: $media-max-lg) {
        top: 0;
        transform: translateX(-105%);
    }
}
.offcanvas-backdrop:before {
    position: fixed;
    z-index: $zindex-offcanvas-backdrop;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
    opacity: 0;
    background-color: rgba(0,0,0,0.25);
}
.sidebar-is-open {
    .offcanvas-sidebar {
        transform: translateX(0);
    }
    @media (max-width: $media-max-lg) {
        & {
            overflow: hidden;
        }
        .offcanvas-backdrop:before {
            pointer-events: initial;
            opacity: 1;
        }
    }
}
//
//	Pagination
//
.pagination {
    display: inline-flex;
}
.pagination-item {
    display: inline-flex;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
.pagination-white {
	.pagination-item {
		color: $color-primary;
		border-color: transparent;
		background-color: $color-white;
	}
}
//
//	Progress Bar
//
progress[value] {
    width: 100%;
    color: black;
    border: 0;
    appearance: none;
}
.progress[value],
.progress[value]::-webkit-progress-bar,
.progress {
    position: relative;
    display: flex;
    height: $global-y * 2;
    background-color: $gray-02;
	border-radius: 4px;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}
.progress[value]::-webkit-progress-value,
.progress-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    border-radius: 4px;
    background-color: $color-primary;
}
.progress[value]::-webkit-progress-value > span,
.progress-bar > span {
    overflow: hidden;
    padding-right: $global-x;
    padding-left: $global-x;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.progress[value]:before {
    position: absolute;
    z-index: 1010;
    overflow: hidden;
    padding-right: $global-x;
    padding-left: $global-x;
    content: attr(value) "% Complete";
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $color-white;
}
.progress-striped[value]::-webkit-progress-bar,
.progress-striped .progress-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 2rem 2rem;
}
@keyframes progressbarstripes {
    from {
        background-position: 2rem 0;
    }
    to {
        background-position: 0 0;
    }
}
.progress-animated .progress-bar {
    animation: progressbarstripes 2s linear infinite;
}
@mixin progress-color-variation($input) {
    @each $class, $color in $input {
        .progress-#{$class} .progress-bar {
            background-color: $color;
        }
    }
}
//	@include progress-color-variation($palette-default);
//	@include progress-color-variation($palette-inverse);
//	@include progress-color-variation($palette-primary);
//	@include progress-color-variation($palette-neutral);
@include progress-color-variation($palette-state);
//	@include progress-color-variation($palette-classic);
@include progress-color-variation($grayscale);
//
//	Sidebar
//
.sidebar {
    display: inline-flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);

    backface-visibility: hidden;
}
.sidebar-header,
.sidebar-body,
.sidebar-footer {
    display: flex;
    flex-direction: column;
}
.sidebar-header,
.sidebar-footer {
    padding: $global-x 0;
	flex-shrink: 0;
}
.sidebar-header {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.sidebar-body {
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-footer {
    border-top: 1px solid rgba(0,0,0,0.1);
}
.sidebar-item {
    display: flex;
    flex-shrink: 0;
    margin-right: -1px;
    padding: $global-x $global-y;
    .form-control {
        width: 100%;
    }
}
.sidebar-link {
    &:hover,
    &:focus {
        background-color: $gray-01;
    }
    &:active {
        background-color: $gray-02;
    }
    &.active {
        position: relative;
        &:after {
            position: absolute;
			top: 50%;
			margin-top: -0.4em;
			//	top: 0.5em;
			//	bottom: 0.5em;
			//	width: 3px;
            left: 0;
            content: "";
			border-width: 0.4em;
			border-style: solid;
			border-color: transparent transparent transparent currentColor;
			//	background-color: currentColor;
        }
    }
}
//
//	Sidebar Item contains collapse
//
.sidebar-item.collapse,
.sidebar-item.collapsing {
	padding: 0;
}
//
//	Sidebar Colors
//
.sidebar-white {
    border-color: transparent;
    background-color: $color-white;
}
//
//	Table
//
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table {
    width: 100%;
    text-align: left;
}
.table th,
.table td {
    padding: $global-x $global-y;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.table-left-flush th,
.table-left-flush td {
    padding-left: 0;
}
//	.table th {
//	    font-weight: 700;
//	}
.table-nowrap th,
.table-nowrap td {
    white-space: nowrap;
}
.table-striped tbody tr:nth-of-type(odd),
.table-striped-x tbody tr:nth-of-type(odd) {
    background-color: $gray-01;
}
.table-striped-y tbody td:nth-of-type(odd) {
    background-color: $gray-01;
}
.table-striped.table-striped-y tbody td:nth-of-type(odd),
.table-striped-x.table-striped-y tbody td:nth-of-type(odd) {
    border-color: #dbdbdb;
    background-color: #ededed;
}
.table-bordered th,
.table-bordered td {
    border: 1px solid #e4e4e4;
}
.table-borderless th,
.table-borderless td {
    border-color: transparent;
}
.table-hover tr:hover {
    background-color: $gray-01;
}
.table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
    min-height: 0.01%;
}
.table-reflow thead {
    float: left;
}
.table-reflow tbody {
    display: block;
    white-space: nowrap;
}
.table-reflow tr {
    float: left;
}
.table-reflow tr th,
.table-reflow tr td {
    display: block !important;
}
.table-white {
    thead {
        background-color: $color-white;
    }
}
//
//	Table contains buttons in head
//
.table thead .btn-link {
	padding: 0;
}
//
//	Table contains form-controls
//
.table .form-control {
	padding-top: 0;
	padding-bottom: 0;
}
//
//	Table Fixed Headers
//
$table-fixedheader-height: calc(#{$global-x} * 2 + 1.6em + 1px);
.table-fixedheaders {
	position: relative;
	padding-top: $table-fixedheader-height;
	border-top: 1px solid rgba(0,0,0,0.1);
	.table-responsive {
		overflow: auto;
		max-height: 50vh;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	.table thead th {
		padding-top: 0;
		padding-bottom: 0;
		height: 0;
		border: 0;
	}
	.table tbody tr:first-child td,
	.table tbody tr:first-child th {
		border-top: 0;
	}
	.table th .fixedghost {
		overflow: hidden;
		height: 0;
		margin-top: $global-y * -2;
	}
	.table th .fixedheader {
		position: absolute;
		top: 0;
		height: $table-fixedheader-height;
		line-height: $table-fixedheader-height;
	}
	.table th:first-child,
	.table td:first-child {
		padding-right: $global-x * 2;
	}
}
//
//	Table Fixed Headers - Theme..
//
.table-fixedheaders-white {
	&,
	.table-responsive {
		border-top: 0;
	}
	&:after {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: $table-fixedheader-height;
		content: "";
		background-color: white;
		box-shadow: 0 2px 4px rgba(0,0,0,0.15);
	}
	.fixedheader {
		z-index: 100;
	}
}
//
//	Tabs
//
.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

//
//	Wells
//
.well {
    display: flex;
    padding: $global-x $global-y;
    border: 1px solid rgba(0,0,0,0.1);
}
//
//	Utilities Borders
//
.br1 {
	border-right: 1px solid;
}
.bc-muted {
	border-color: rgba(0,0,0,0.1);
}
//
//	Utilities Floats
//
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
//
//	Utilities Overflow
//
.oxa {
	overflow-x: auto;
}
//
//	Utilities Width
//
.wa {
	width: auto;
}
th.wa,
td.wa {
	width: 1px;
}
//
//	Utilities Spacers
//	a, x, y, t, r, b, l
//
.my2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.mt2 {
    margin-top: 2rem;
}
.mt4 {
    margin-top: 4rem;
}
.mr1 {
	margin-right: 1rem;
}
.mbf,
.mb0 {
	margin-bottom: 0;
}
.mb2 {
    margin-bottom: 2rem;
}
.mb4 {
    margin-bottom: 4rem;
}
.mla,
.mlo {
    margin-left: auto;
}
.pa2 {
	padding: 2rem;
}
.py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pt1 {
	padding-top: 1rem;
}
.pt2 {
    padding-top: 2rem;
}
.pr1 {
	padding-right: 1rem;
}
.pbf {
	padding-bottom: 0;
}
.mb1,
.list-mb1 > li {
	margin-bottom: 1rem;
}
//
//	Utilities Box Shadow
//
.bxs1 {
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}
//
//	Utilities Collapse
//
.collapse-toggle {
    font-weight: 700;
    //	position: relative;
    //	padding-right: 1.6rem;
    //	&:after {
    //	    position: absolute;
    //	    top: 50%;
    //	    right: 0.8rem;
    //	    display: inline-block;
    //	    margin-top: -0.125rem;
    //	    content: "";
    //	    border-width: 0.25rem;
    //	    border-style: solid;
    //	    border-color: currentColor transparent transparent;
    //	}
}
.collapse {
    display: none;
}
.collapse.in {
    display: block;
}
.collapsing {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.35s ease;
}
//
//	Utilities Fade
//
.fade {
    transition: opacity 0.15s linear;
    opacity: 0;
}
.fade.in {
    opacity: 1;
}
.fade:not(.in) {
	pointer-events: none;
}
//
//	http://fellowtuts.com/html-css/offsetting-anchor-hash-
//	tag-links-to-adjust-for-fixed-header/
//
.anchor-offset {
    pointer-events: none;
    &:before {
        display: block;
        visibility: hidden;
        height: 200px;
        margin-top: -200px;
        content: "";
    }
}
//
//	Utilities - BG Colors
//
@mixin bg-color-variation($input) {
    @each $class, $color in $input {
        .bg-#{$class} {
            background-color: $color;
        }
    }
}
//	@include bg-color-variation($palette-default);
//	@include bg-color-variation($palette-inverse);
//	@include bg-color-variation($palette-primary);
//	@include bg-color-variation($palette-neutral);
//	@include bg-color-variation($palette-state);
//	@include bg-color-variation($palette-classic);
@include bg-color-variation($grayscale);
//
//	Utilities - TEXT Colors
//
@mixin text-color-variation($input) {
    @each $class, $color in $input {
        .text-#{$class} {
            color: $color;
        }
    }
}
//	@include text-color-variation($palette-default);
//	@include text-color-variation($palette-inverse);
//	@include text-color-variation($palette-primary);
//	@include text-color-variation($palette-neutral);
@include text-color-variation($palette-state);
//	@include text-color-variation($palette-classic);
//	@include text-color-variation($grayscale);
.text-muted-25 {
    opacity: 0.25;
}
.text-muted,
.text-muted-50 {
    opacity: 0.5;
}
.text-muted-75 {
    opacity: 0.75;
}
//
//	Utilities - Visibility
//
//	.invisible {
//	    visibility: hidden !important;
//	}
//	.hidden-xs-up {
//	    display: none !important;
//	}
//	@media (max-width: $media-max-sm) {
//	    .hidden-xs-down {
//	        display: none !important;
//	    }
//	}
//	@media (min-width: $media-min-sm) {
//	    .hidden-sm-up {
//	        display: none !important;
//	    }
//	}
//	@media (max-width: $media-max-md) {
//	    .hidden-sm-down {
//	        display: none !important;
//	    }
//	}
//	@media (min-width: $media-min-md) {
//	    .hidden-md-up {
//	        display: none !important;
//	    }
//	}
//	@media (max-width: $media-max-lg) {
//	    .hidden-md-down {
//	        display: none !important;
//	    }
//	}
//	@media (min-width: $media-min-lg) {
//	    .hidden-lg-up {
//	        display: none !important;
//	    }
//	}
//	@media (max-width: $media-max-xl) {
//	    .hidden-lg-down {
//	        display: none !important;
//	    }
//	}
//	@media (min-width: $media-min-xl) {
//	    .hidden-xl-up {
//	        display: none !important;
//	    }
//	}
//	.hidden-xl-down {
//	    display: none !important;
//	}
//	.visible-print-block {
//	    display: none !important;
//	}
//	@media print {
//	    .visible-print-block {
//	        display: block !important;
//	    }
//	}
//	.visible-print-inline {
//	    display: none !important;
//	}
//	@media print {
//	    .visible-print-inline {
//	        display: inline !important;
//	    }
//	}
//	.visible-print-inline-block {
//	    display: none !important;
//	}
//	@media print {
//	    .visible-print-inline-block {
//	        display: inline-block !important;
//	    }
//	}
//	@media print {
//	    .hidden-print {
//	        display: none !important;
//	    }
//	}
