//
//  Units
$grid__columns:              12;
$grid__gutter:               $global__gutter;
//
//  Base
$grid__has__pull:            true !default;
$grid__has__push:            true !default;
$grid__has__offset:          true !default;
$grid-float-breakpoint:      $screen-sm-min !default;
$grid-float-breakpoint-max:  ($grid-float-breakpoint - 1) !default;
//
$offcanvas-breakpoint:       $screen-md-min !default;
$offcanvas-breakpoint-max:   ($offcanvas-breakpoint - 1) !default;
//
//   Components
$col-divider__bg:            $gray__02;
