@mixin spacer($property, $type) {
	$property--short: str-slice($property, 1, 1);
	@each $unit, $spacer in $spacers {

		$y: nth($spacer, 1);
		$x: nth($spacer, 2);
		$a: $y $x;

		.#{$property--short}-#{$type}-#{$unit} {
			@if ($type == 'a') {
				#{$property}: $a !important;
			}
			@if ($type == 'x') {
				#{$property}-right: $x !important;
				#{$property}-left: $x !important;
			}
			@if ($type == 'y') {
				#{$property}-top: $y !important;
				#{$property}-bottom: $y !important;
			}
			@if ($type == 't') {
				#{$property}-top: $y !important;
			}
			@if ($type == 'r') {
				#{$property}-right: $x !important;
			}
			@if ($type == 'b') {
				#{$property}-bottom: $y !important;
			}
			@if ($type == 'l') {
				#{$property}-left: $x !important;
			}
		}
	}
}
