@media (min-width: $screen-xs-min) {
    .card-deck-wrapper {
        margin-right: $global__gutter * -1;
        margin-left: $global__gutter * -1;
    }

    .card-deck .card {
        display: table-cell;

        width: 1%;
    }
}

.card-deck {
    display: table;

    width: 100%;

    table-layout: fixed;
    border-spacing: $global__gutter;
}

.card-deck .card {

    vertical-align: top;

    border: $one__true__pixel solid;

    .card-header,
    .card-img,
    .card-block,
    .card-footer {
        border-right: 0 none !important;
        border-left: 0 none !important;

        &:first-child {
            border-top: 0 none;
        }

        &:last-child {
            border-bottom: 0 none;
        }
    }
}
