//
//  Units
$caret__contrast:           $global__contrast;
$caret__radius:             $global__radius;
$caret__x:                  $global__x * 1.5;
$caret__y:                  $global__y * 1.5;
//
//  Base
$caret__width-base:         $caret__radius;
$caret__width-large:        rhythm(.3);

