.caret {
    line-height: 1;
}

%caret {
    display: inline-block;

    width: 0;
    height: 0;
    margin-left: $two__pixels;

    vertical-align: middle;

    border-right: $caret__width-base solid transparent;
    border-left: $caret__width-base solid transparent;
}

