//  Background
//
//  Color
$bg__default-palette:        true !default;
$bg__inverse-palette:        true !default;
$bg__primary-palette:        true !default;
$bg__neutral-palette:        true !default;
$bg__state-palette:          true !default;
$bg__opacity-palette:        true !default;
//  Text
//
//  Color
$text__default-palette:        true !default;
$text__inverse-palette:        true !default;
$text__primary-palette:        true !default;
$text__neutral-palette:        true !default;
$text__state-palette:          true !default;
$text__opacity-palette:        true !default;
