.fade {
    opacity: 0;

    transition: opacity 0.35s ease;

    &.in {
        opacity: 1;
    }
}

.collapse {
    display: none;

    &.in {
        display: block;
    }
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;

    overflow: hidden;

    height: 0;

    transition-property: height, visibility;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}

.collapsing.width {
    height: auto;

    transition-property: width, visibility;
    transition-duration: 0.35s;
    transition-timing-function: ease;
}
