@mixin badge-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .badge-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            background-color: $color;
        }

        a.badge-#{$class__name} {
            @include state {
                background-color: shade($color, $badge__contrast);
            }
        }
    }
}

@mixin badge-size-variation($unit__y, $unit__x, $input__palette) {
    @each $class__name, $size in $input__palette {

        $x: ($unit__x * strip-unit($size));
        $y: ($unit__y * strip-unit($size));

        .badge-#{$class__name} {
            padding: $y $x;
        }
    }
}
