@mixin card-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .card-#{$class__name} {
            color: check-color($color, 80, inherit, $white);

            .card-block {
                border-color: transparent;
                background-color: $color;
            }

            .card-header,
            .card-footer {
                border-color: transparent;
                background-color: shade($color, $card__contrast);
            }
        }
    }
}

@mixin card-size-variation($unit__y, $unit__x, $input__palette) {
    @each $class__name, $size in $input__palette {

        $x: ($unit__x * strip-unit($size));
        $y: ($unit__y * strip-unit($size));

        .card-#{$class__name} {
            .card-header,
            .card-img,
            .card-block,
            .card-footer {
                padding: $y $x;
            }
        }
    }
}
