
@mixin input-group-size-variation($unit__y, $unit__x, $input__palette) {
    @each $class__name, $size in $input__palette {

        $x: ($unit__x * strip-unit($size));
        $y: ($unit__y * strip-unit($size));

        .input-group-#{$class__name} {

            .input-group-item {
                padding: $y $unit__x;
            }
        }
    }
}

