@mixin well-color-variation($input__palette) {
    @each $class__name, $color in $input__palette {
        .well-#{$class__name} {
            color: check-color($color, 80, inherit, $white);
            border-color: $color;
            background-color: $color;
        }
    }
}

@mixin well-size-variation($unit__y, $unit__x, $input__palette) {
    @each $class__name, $size in $input__palette {

        $x: ($unit__x * strip-unit($size));
        $y: ($unit__y * strip-unit($size));

        .well-#{$class__name} {
            padding: $y $x;
        }
    }
}
