.panel {
    position: relative;

    border-radius: $panel__radius;
}

.panel-heading,
.panel-body,
.panel-footer {

    &:only-child {
        border: $one__true__pixel solid;
        border-radius: $panel__radius;
    }

    &:first-child {
        border: $one__true__pixel solid;
        border-top-right-radius: $panel__radius;
        border-top-left-radius: $panel__radius;
    }

    &:last-child {
        border: $one__true__pixel solid;
        border-bottom-right-radius: $panel__radius;
        border-bottom-left-radius: $panel__radius;
    }

    &:first-child + :last-child {
        border-top: 0 none;
    }

    &:not(:last-child) {
        border-right: $one__true__pixel solid;
        border-left: $one__true__pixel solid;
    }
}

.panel-body,
.panel-footer {

    &:first-child + .panel-heading {
        margin-top: $one__true__pixel * -1;
        margin-bottom: $one__true__pixel * -1;
    }
}
